
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers

@{
    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    UserProfile _model;
    LessonTimeBookingViewModel _viewModel;

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _model = (UserProfile)this.Model;
    _viewModel = (LessonTimeBookingViewModel)ViewBag.ViewModel;
}
<div class="container-fluid">
    <div class="row clearfix">
        <h4 class="card-outbound-header m-l-15">我的分店業績</h4>
        <div class="col-lg-12 col-md-12">
            <div class="row clearfix">
                <div class="col-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                <strong class="col-red" id="branchName">@(_viewModel.BranchName)</strong>
                                @for (int idx = 0; idx < 3; idx++)
                                {
                                    var dayIdx = DateTime.Today.AddDays(idx);
                                    <a href="#lessonSummary" onclick="inquireDailyBarChart('@($"{dayIdx:yyyy-MM-dd}")',event);" class="btn btn-simple btn-sm btn-primary inquireDaily @(_viewModel.ClassTimeStart == dayIdx ? "disabled" : null)">@($"{dayIdx:yyyy/MM/dd}")</a>
                                }
                            </h2>
                            <ul class="header-dropdown">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-right slideUp float-right">
                                        <li><a href="#lessonSummary" onclick="inquireLessonsBarChart();">全部</a></li>
                                        @foreach (var b in models.GetTable<BranchStore>())
                                        {
                                            <li><a href="#lessonSummary" onclick="inquireLessonsBarChart(@(b.BranchID));">@(b.BranchName)</a></li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            @if (_model.IsManager() || _model.IsViceManager() || _model.IsAssistant() || _model.IsAuthorizedSysAdmin())
                            {
                                <div id="lessonSummary">
                                    @{
                                        Html.RenderPartial("~/Views/ConsoleHome/Module/AboutLessonSummary.cshtml", _model);
                                    }
                                </div>
                            }
                            <div id="lessonsBarChart">
                                @{
                                    Html.RenderPartial("~/Views/ConsoleHome/Module/TodayLessonsBarChartC3.cshtml", _model);
                                }
                            </div>
                        </div>
                        <script>
                            function inquireLessonsBarChart(branchID) {
                                var event = event || window.event;
                                var branchName = $(event.target).text();
                                $('#branchName').text(branchName);
                                $global.viewModel.BranchID = branchID;
                                $global.viewModel.BranchName = branchName;
                                drawLessonsBarChart();
                                showLessonSummary();
                            }

                            function inquireDailyBarChart(daily, event) {
                                var event = event || window.event;
                                $('a.inquireDaily').removeClass('disabled');
                                $(event.target).addClass('disabled');
                                $global.viewModel.ClassTimeStart = daily;
                                drawLessonsBarChart();
                            }

                            function drawLessonsBarChart() {
                                $('#lessonsBarChart').empty();
                                showLoading();
                                $.post('@Url.Action("DailyLessonsBarChart", "ConsoleHome")', $global.viewModel, function (data) {
                                    hideLoading();
                                    if ($.isPlainObject(data)) {
                                        alert(data.message);
                                    } else {
                                        $(data).appendTo($('#lessonsBarChart'));
                                    }
                                });
                            }

                            function showLessonSummary() {
                                $('#lessonSummary').empty();
                                showLoading();
                                $.post('@Url.Action("ShowLessonSummary", "ConsoleHome")', $global.viewModel, function (data) {
                                    hideLoading();
                                    if ($.isPlainObject(data)) {
                                        alert(data.message);
                                    } else {
                                        $(data).appendTo($('#lessonSummary'));
                                    }
                                });
                            }

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


