@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;
    CourseContract _item;
    UserProfile _model;
    CourseContractQueryViewModel _viewModel;


    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    _model = (UserProfile)this.Model;
    _viewModel = (CourseContractQueryViewModel)ViewBag.ViewModel;
    _item = (CourseContract)ViewBag.DataItem;

}
<div class="row clearfix">
    <div class="col-12">
        <h4 class="card-outbound-header">懶人包</h4>
    </div>
    @if (_model.IsOfficer() || _model.IsAssistant() || _model.IsAuthorizedSysAdmin())
    {
        <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="card">
                <div class="file">
                    <a href="javascript:processMonthlyBonus('@($"{DateTime.Today.FirstDayOfMonth().AddMonths(-1):yyyy/MM/dd}")');">
                        <div class="icon">
                            <i class="zmdi livicon livicon-evo" data-options="name: piggybank.svg; size: 60px; style: original; strokeWidth:2px; autoPlay:true"></i>
                        </div>
                        <div class="file-name">
                            <p class="m-b-5 text-muted">獎金抽成彙總表</p>
                            <small>上月 <span class="date text-muted">@($"{DateTime.Today.FirstDayOfMonth().AddMonths(-1):yyyy/MM}")</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
       }
        <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="card">
                <div class="file">
                    <a href="javascript:$('').launchDownload('@Html.Raw(Url.Action("CreateAchievementShareXlsx","Accounting"))', { 'PayoffDateFrom': '@($"{DateTime.Today.FirstDayOfMonth().AddMonths(-1):yyyy/MM/dd}")', 'bypassCondition': true ,'detailsOnly': false }, 'report',true);">
                        <div class="icon">
                            <i class="zmdi livicon livicon-evo" data-options="name: shoppingcart.svg; size: 60px; style: original; strokeWidth:2px; autoPlay:true"></i>
                        </div>
                        <div class="file-name">
                            <p class="m-b-5 text-muted">收款業績彙總</p>
                            <small>上月 <span class="date text-muted">@($"{DateTime.Today.FirstDayOfMonth().AddMonths(-1):yyyy/MM}")</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="card">
                <div class="file">
                    <a href="javascript:prepareMonthlyAchievement(true,'@($"{DateTime.Today.FirstDayOfMonth().AddMonths(-1):yyyy/MM/dd}")');">
                        <div class="icon">
                            <i class="zmdi livicon livicon-evo" data-options="name: magic.svg; size: 60px; style: original; strokeWidth:2px; autoPlay:true"></i>
                        </div>
                        <div class="file-name">
                            <p class="m-b-5 text-muted">上課業績彙總表</p>
                            <small>上月 <span class="date text-muted">@($"{DateTime.Today.FirstDayOfMonth().AddMonths(-1):yyyy/MM}")</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        @*<div class="col-lg-2 col-md-3 col-sm-6">
            <div class="card">
                <div class="file">
                    <a href="javascript:$('').launchDownload('@Html.Raw(Url.Action("CreateAchievementXlsx","Accounting"))', { 'achievementDateFrom': '@($"{DateTime.Today.FirstDayOfMonth().AddMonths(-1):yyyy/MM/dd}")', 'bypassCondition': true ,'detailsOnly': true }, 'report',true);">
                        <div class="icon">
                            <i class="zmdi livicon livicon-evo" data-options="name: list.svg; size: 60px; style: original; strokeWidth:2px; autoPlay:true"></i>
                        </div>
                        <div class="file-name">
                            <p class="m-b-5 text-muted">上課業績明細</p>
                            <small>上月 <span class="date text-muted">@($"{DateTime.Today.FirstDayOfMonth().AddMonths(-1):yyyy/MM}")</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>*@
    </div>
    <div class="row clearfix">
        <div class="col-12">
            <h4 class="card-outbound-header">自訂條件</h4>
        </div>
        @if (_model.IsOfficer() || _model.IsAssistant() || _model.IsAuthorizedSysAdmin())
        {
        <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="card">
                <div class="file">
                    <a href="javascript:selectMonthlyBonusList();">
                        <div class="icon">
                            <i class="zmdi livicon livicon-evo" data-options="name: users.svg; size: 60px; style: original; strokeWidth:2px; autoPlay:true"></i>
                        </div>
                        <div class="file-name">
                            <p class="m-b-5 text-muted">獎金抽成彙總表</p>
                            <small>自訂條件 <span class="date text-muted"><i class="zmdi zmdi-search"></i></span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        }
        <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="card">
                <div class="file">
                    <a href="javascript:selectMonthlyShare();">
                        <div class="icon">
                            <i class="zmdi livicon livicon-evo" data-options="name: shoppingcart.svg; size: 60px; style: original; strokeWidth:2px; autoPlay:true"></i>
                        </div>
                        <div class="file-name">
                            <p class="m-b-5 text-muted">收款業績彙總</p>
                            <small>自訂條件 <span class="date text-muted"><i class="zmdi zmdi-search"></i></span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="card">
                <div class="file">
                    <a href="javascript:selectMonthlyAchievement(true);">
                        <div class="icon">
                            <i class="zmdi livicon livicon-evo" data-options="name: magic.svg; size: 60px; style: original; strokeWidth:2px; autoPlay:true"></i>
                        </div>
                        <div class="file-name">
                            <p class="m-b-5 text-muted">上課業績彙總表</p>
                            <small>自訂條件 <span class="date text-muted"><i class="zmdi zmdi-search"></i></span></small>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <script>

            function prepareMonthlyAchievement(detailsOnly, settlementDate, coachID) {
                showLoading();
                $.post('@Html.Raw(Url.Action("PrepareAchievementDetails","ReportConsole"))', { 'achievementDateFrom': settlementDate, 'bypassCondition': true, 'detailsOnly': detailsOnly, 'coachID': coachID }, function (data) {
                    if ($.isPlainObject(data)) {
                        hideLoading();
                        swal(data.message);
                    } else {
                        $(data).appendTo($('body'));
                    }
                });
            }

            function selectMonthlyAchievement(detailsOnly) {
                showLoading();
                $.post('@Html.Raw(Url.Action("SelectCoachMonthlyReport","ReportConsole"))', {}, function (data) {
                    hideLoading();
                    if ($.isPlainObject(data)) {
                        swal(data.message);
                    } else {
                        $global.doQuery = function (settlementDate, coachID) {
                            @*$('').launchDownload('@Html.Raw(Url.Action("CreateAchievementSummaryXlsx","Accounting"))', { 'achievementDateFrom': settlementDate, 'bypassCondition': true, 'detailsOnly': detailsOnly, 'coachID': coachID }, 'report', true);*@
                            prepareMonthlyAchievement(detailsOnly, settlementDate, coachID);
                        }
                        $(data).appendTo($('body'));
                    }
                });
            }

            function processMonthlyBonus(achievementDateFrom) {
                showLoading();
                $.post('@Html.Raw(Url.Action("PrepareMonthlyBonus","ReportConsole"))', { 'achievementDateFrom': achievementDateFrom }, function (data) {
                    hideLoading();
                    if ($.isPlainObject(data)) {
                        swal(data.message);
                    } else {
                        $(data).appendTo($('body'));
                    }
                });
            }

            function selectMonthlyShare(detailsOnly) {
                showLoading();
                $.post('@Html.Raw(Url.Action("SelectCoachMonthlyReport","ReportConsole"))', {}, function (data) {
                    hideLoading();
                    if ($.isPlainObject(data)) {
                        swal(data.message);
                    } else {
                        $global.doQuery = function (settlementDate, coachID) {
                            $('').launchDownload('@Html.Raw(Url.Action("CreateAchievementShareXlsx","Accounting"))', { 'PayoffDateFrom': settlementDate, 'coachID': coachID }, 'report', true);
                        }
                        $(data).appendTo($('body'));
                    }
                });
            }

        function selectMonthlyBonusList() {
            showLoading();
            $.post('@Html.Raw(Url.Action("SelectMonthlyReport","ReportConsole"))', {}, function (data) {
                hideLoading();
                if ($.isPlainObject(data)) {
                    swal(data.message);
                } else {
                    $global.doQuery = function (settlementDate) {
                        processMonthlyBonus(settlementDate);
                    }
                    $(data).appendTo($('body'));
                }
            });
        }


        function selectMonthlyFullAchievement() {
            showLoading();
            $.post('@Html.Raw(Url.Action("SelectCoachMonthlyReport","ReportConsole"))', {}, function (data) {
                hideLoading();
                if ($.isPlainObject(data)) {
                    swal(data.message);
                } else {
                    $global.doQuery = function (settlementDate, coachID) {
                        $('').launchDownload('@Html.Raw(Url.Action("CreateFullAchievementXlsx","Accounting"))', { 'achievementDateFrom': settlementDate, 'bypassCondition': true, 'coachID': coachID }, 'report', true);
                    }
                    $(data).appendTo($('body'));
                }
            });
        }

        function selectCoach() {
            showLoading();
            $.post('@Html.Raw(Url.Action("SelectCoach", "ContractConsole"))', {}, function (data) {
                hideLoading();
                if ($.isPlainObject(data)) {
                    alert(data.message);
                } else {
                    $(data).appendTo($('body'));
                }
            });
        }
        </script>
    </div>