@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;
    CourseContract _item;
    UserProfile _model;
    CourseContractQueryViewModel _viewModel;


    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    _model = (UserProfile)this.Model;
    _viewModel = (CourseContractQueryViewModel)ViewBag.ViewModel;
    _item = (CourseContract)ViewBag.DataItem;

}

<div class="row clearfix">
    <div class="col-12">
        <h4 class="card-outbound-header">懶人包</h4>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="card">
            <div class="file">
                <a href='javascript:downloadAccountingReport(@Html.Raw(JsonConvert.SerializeObject(new {
                                                            PayoffDateFrom = DateTime.Today,
                                                            PayoffDateTo = DateTime.Today,
                                                        })));'>
                    <div class="icon">
                        <i class="zmdi livicon livicon-evo" data-options="name: calculator.svg; size: 60px; style: linesAlt; strokeWidth:2px; autoPlay:true"></i>
                    </div>
                    <div class="file-name">
                        <p class="m-b-5">明細帳</p>
                        <small>本日 <span class="date text-muted">@($"{DateTime.Today:yyyy/MM/dd}")</span></small>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="card">
            <div class="file">
                <a href='javascript:downloadAccountingReport(@Html.Raw(JsonConvert.SerializeObject(new
                                                        {
                                                            PayoffDateFrom = DateTime.Today.FirstDayOfMonth().AddMonths(-1),
                                                            PayoffDateTo = DateTime.Today.FirstDayOfMonth().AddDays(-1),
                                                        })));'>
                        <div class="icon">
                            <i class="zmdi livicon livicon-evo" data-options="name: notebook.svg; size: 60px; style: linesAlt; strokeWidth:2px; autoPlay:true"></i>
                        </div>
                        <div class="file-name">
                            <p class="m-b-5">明細帳</p>
                            <small>上月 <span class="date text-muted">@($"{DateTime.Today.AddMonths(-1):yyyy/MM}")</span></small>
                        </div>
                    </a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="card">
            <div class="file">
                <a href="javascript:$('').launchDownload('@Html.Raw(Url.Action("CreateAccountsReceivableXlsx","Accounting"))',{'BypassCondition':true},'report',true);">
                    <div class="icon">
                        <i class="zmdi livicon livicon-evo" data-options="name: dislike.svg; size: 60px; style: linesAlt; strokeWidth:2px; autoPlay:true"></i>
                    </div>
                    <div class="file-name">
                        <p class="m-b-5">催收帳款清單</p>
                        <small>截至目前 <span class="date text-muted">@($"{DateTime.Today:yyyy/MM/dd}")</span></small>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-12">
        <h4 class="card-outbound-header">自訂條件</h4>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="card">
            <div class="file">
                <a href="javascript:selectPeriodAccountingReport();">
                    <div class="icon">
                        <i class="zmdi livicon livicon-evo" data-options="name: notebook.svg; size: 60px; style: linesAlt; strokeWidth:2px; autoPlay:true"></i>
                    </div>
                    <div class="file-name">
                        <p class="m-b-5">明細帳</p>
                        <small>自訂條件 <span class="date text-muted"><i class="zmdi zmdi-search"></i></span></small>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <script>
        function selectPeriodAccountingReport() {
            showLoading();
            $.post('@Html.Raw(Url.Action("SelectPeriodReport","ReportConsole"))', {}, function (data) {
                hideLoading();
                if ($.isPlainObject(data)) {
                    Swal.fire(
                        'Oops...',
                        data.message,
                        'warning'
                    )
                } else {
                    $global.doQuery = function (viewModel) {
                        viewModel.PayoffDateFrom = viewModel.DateFrom;
                        viewModel.PayoffDateTo = viewModel.DateTo;
                        downloadAccountingReport(viewModel);
                    }
                    $(data).appendTo($('body'));
                }
            });
        }

        function downloadAccountingReport(viewModel) {
            $('').launchDownload('@Html.Raw(Url.Action("CreateMonthlyPaymentReportXlsx2021","Payment"))', viewModel, 'report', true);
        }
    </script>
</div>