
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding

@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    CalendarEventItem _model;

    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _model = (CalendarEventItem)this.Model;
}
@{
    LessonTime item = (LessonTime)_model.EventItem;
    if (item.IsTrialLesson())
    {
        <div class="event-name b-PE row" onclick="showLessonEventModal('@(item.LessonID.EncryptKey())',event);">
            <div class="col-2 text-center">
                <h4>@($"{item.ClassTime:dd}")<span>@($"{item.ClassTime:MM}")</span><span>@(Naming.DayOfWeek[(int)item.ClassTime.Value.DayOfWeek])</span></h4>
            </div>
            <div class="col-10">
                <h6>
                    @(item.ClassTime.Value.ToString("HH:mm"))-@(item.ClassTime.Value.AddMinutes(item.DurationInMinutes.Value).ToString("HH:mm")) @(item.RegisterLesson.UserProfile.FullName())
                    @{ await Html.RenderPartialAsync("~/Views/ConsoleHome/Module/RenderLessonCheck.cshtml", item);}

                </h6>
                <p class="col-blush">@((item.TrainingPlan.FirstOrDefault()?.TrainingExecution.Emphasis) ?? "重點一片空，學生要來踹你了...")</p>
                <address><i class="zmdi zmdi-pin"></i>@(item.BranchStore.BranchName)</address>
            </div>
        </div>
    }
    else
    {
        await Html.RenderPartialAsync("~/Views/ConsoleHome/Index/Coach/EventItems/PI.cshtml");
    }
}
