

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;
    IQueryable<MonthlyCoachRevenueIndicator> _model;
    MonthlyCoachRevenueIndicatorQueryViewModel _viewModel;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;
    _model = (IQueryable<MonthlyCoachRevenueIndicator>)this.Model;
    _viewModel = (MonthlyCoachRevenueIndicatorQueryViewModel)ViewBag.ViewModel;

}

<table class="table table-striped table-custom nowrap dtAchivement" style="width:100%">
    <thead class="bg-darkteal">
        <tr>
            <th class="text-center">月份</th>
            <th class="text-center">堂數</th>
            <th class="text-center">上課金額</th>
            <th class="text-center">收款金額</th>
            <th class="text-center">折讓金額</th>
            @*<th class="text-center">上課平均單價</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in _model)
        {
            var voidItems = item.MonthlyIndicator.GetVoidShare(models, item.CoachID);
            <tr>
                <td>@($"{item.MonthlyIndicator.StartDate:yyyyMM}")</td>
                <td>@(item.AttendanceCount)</td>
                <td>@($"{item.ActualLessonAchievement:##,###,###,##0}")</td>
                <td>@($"{item.MonthlyIndicator.GetPaymentAchievementSummary(models, item.CoachID):##,###,###,##0}")</td>
                <td>@($"{(voidItems.Sum(t=>t.VoidShare) ?? 0):##,###,###,##0}")</td>
                @*<td>@($"{item.AverageLessonPrice:##,###,###,##0}")</td>*@
            </tr>
        }
    </tbody>
</table>
<script>
    $(function () {
        showAchivementList(4);
    });
</script>