@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using Newtonsoft.Json

@{
    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    bool _singleError;

    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _singleError = ViewBag.SingleError == true;
}

@if (_modelState != null && !_modelState.IsValid)
{
    <script>
        $(function () {
            console.log('@Html.Raw(_modelState.ErrorMessage())');
            @if (ViewBag.AlertError == true)
                {
                <text>
                Swal.fire(
                    'Oops...',
                    '@Html.Raw(_modelState.ErrorMessage())',
                    'warning'
                );
            </text>
        }
        @foreach (var key in _modelState.Keys.Where(k => _modelState[k].Errors.Count > 0))
        {
            if (key.IndexOf(',') >= 0)
            {
                var keys = key.Split(',');
                <text>
                    $('[name="@(keys[0])"]:enabled').eq(@(keys[1])).closest('div').after($('<label class="zmdi zmdi-close help-error-text" for="@(keys[0])"></label>')
                    .text('@Html.Raw(_singleError
                                                ? _modelState[key].Errors[0].ErrorMessage
                                                : String.Join("、", _modelState[key].Errors.Select(r => r.ErrorMessage)))')
                    );
                </text>
            }
            else
            {
                <text>
                    $('[name="@(key)"]').closest('div').after($('<label class="zmdi zmdi-close help-error-text" for="@(key)"></label>')
                    .text('@Html.Raw(_singleError
                                                ? _modelState[key].Errors[0].ErrorMessage
                                                : String.Join("、", _modelState[key].Errors.Select(r => r.ErrorMessage)))')
                    );
                </text>
            }

            if (_singleError)
            {
                break;
            }
        }
        });
    </script>
}