
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json

@{
    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    UserProfile _model;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _model = (UserProfile)this.Model;
}
<div class="body">
    <div class="row">
        <div class="col-8">
            @{ DateTime monthStart = DateTime.Today.FirstDayOfMonth();
                var editingItems = models.PromptContractInEditing()
                                    .Where(c => c.FitnessConsultant == _model.UID);
                var toConfirmItems = models.PromptContractToConfirm()
                                    .Where(c => c.FitnessConsultant == _model.UID);
                var toSignItems = models.PromptContractToSign()
                                    .Where(c => c.FitnessConsultant == _model.UID);
                //if(_model.IsManager() || _model.IsViceManager())
                //{
                //    toConfirmItems = toConfirmItems.FilterByBranchStoreManager(models, _model.UID);
                //    toSignItems = toSignItems.FilterByBranchStoreManager(models, _model.UID);
                //}
                //else
                //{
                //    toConfirmItems = toConfirmItems.Where(c => c.AgentID == _model.UID || c.FitnessConsultant == _model.UID);
                //    toSignItems = toSignItems.Where(c => c.AgentID == _model.UID || c.FitnessConsultant == _model.UID);
                //}
            }
            <h5 class="m-t-0">賀成交</h5>
            <p class="text-small">
                編輯中：<a href="#" onclick='showContractList(@Html.Raw(JsonConvert.SerializeObject(
                                new
                                {
                                    FitnessConsultant = _model.UID,
                                    ContractQueryMode = Naming.ContractServiceMode.ContractOnly,
                                    Status = (int)Naming.CourseContractStatus.草稿,
                                })),@(editingItems.Count()));'>@(editingItems.Count())
                        </a>
                        <br />
                        待簽名：<a href="#" onclick='showContractList(@Html.Raw(JsonConvert.SerializeObject(
                                new
                                {
                                    FitnessConsultant = _model.UID,
                                    ContractQueryMode = Naming.ContractServiceMode.ContractOnly,
                                    Status = (int)Naming.CourseContractStatus.待簽名,
                                })),@(toSignItems.Count()));'>@(toSignItems.Count())</a>
                        <br />
                        待審核：<a href="#" onclick='showContractList(@Html.Raw(JsonConvert.SerializeObject(
                                new
                                {
                                    FitnessConsultant = _model.UID,
                                    ContractQueryMode = Naming.ContractServiceMode.ContractOnly,
                                    Status = (int)Naming.CourseContractStatus.待審核,
                                })),@(toConfirmItems.Count()));'>@(toConfirmItems.Count())</a>
            </p>
        </div>
        <div class="col-4 text-right">
            @{ 
                var totalCount = models.PromptEffectiveContract()
                                .Where(c => c.FitnessConsultant == _model.UID)
                                .Where(c => c.EffectiveDate >= monthStart && c.EffectiveDate < monthStart.AddMonths(1)).Count();
            }
            <a href="#" onclick='showContractList(@Html.Raw(JsonConvert.SerializeObject(
                new
                {
                    FitnessConsultant = _model.UID,
                    ContractQueryMode = Naming.ContractServiceMode.ContractOnly,
                    Status = (int)Naming.CourseContractStatus.已生效,
                    EffectiveDateFrom = monthStart,
                    EffectiveDateTo = monthStart.AddMonths(1),
                })),@(totalCount));'>
                <h2>@(totalCount)</h2>
            </a>
            <small class="info">本月</small>
            @if (ViewBag.EnableToCreate != false)
            {
                <p>
                    <button class="btn btn-darkteal btn-icon btn-icon-mini btn-round waves-effect float-right" onclick="window.location.href='@Html.Raw(Url.Action("EditCourseContract", "ConsoleHome"))';"><i class="zmdi zmdi-plus"></i></button>
                </p>
            }
        </div>
    </div>
</div>

