

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;
    CoachBonusViewModel _viewModel;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _modelState = ViewContext.ModelState;
    _viewModel = (CoachBonusViewModel)ViewBag.ViewModel;
    MonthlySalaryDetails _model = (MonthlySalaryDetails)this.Model;

    ISalary _salary;
    if (_model.MonthlySalary.SalaryType == (int)MonthlySalary.SalaryTypeEnum.AnnualBonus)
    {
        _salary = models.GetTable<CoachYearlyAdditionalPay>()
                .Where(s => s.Year == _model.Settlement.Year)
                .Where(s => s.CoachID == _model.UID)
                .FirstOrDefault();
    }
    else
    {
        _salary = models.GetTable<CoachMonthlySalary>()
                .Where(s => s.SettlementID == _model.SettlementID)
                .Where(s => s.CoachID == _model.UID)
                .FirstOrDefault();
    }


    ViewBag.SalaryItem = _salary;

}
<div class="panel-group full-body" id="accordionDetail_salary" role="tablist" aria-multiselectable="true">
    <div class="panel">
        <div class="panel-heading" role="tab" id="headingDetailSalary">
            <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionDetail_salary" href="#collapseDetail_contract" aria-expanded="false" aria-controls="collapseDetail_contract"> <i class="material-icons">subject</i> 薪資詳細資訊 </a> </h4>
        </div>
        <div id="collapseDetail_salary" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingDetailSalary">
            <div class="panel-body no-padding">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-12">
                        <ul class="mb_list">
                            <li class="tit"><i class="zmdi zmdi-folder-star-alt"></i> 薪資獎金</li>
                            <li>
                                <div class="list_tb tb2">
                                    <div class="list_tr">
                                        <div class="list_td hd">薪資</div>
                                        <div class="list_td rt">@($"{_model.Salary:##,###,###,###}")</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_tb tb2">
                                    <div class="list_tr">
                                        <div class="list_td hd">伙食津貼（免稅）</div>
                                        <div class="list_td rt">@($"{_model.Subsistence:##,###,###,###}")</div>
                                    </div>
                                </div>
                            </li>
                            @if(_model.SalaryDutyAllowance>0)
                            {
                            <li>
                                <div class="list_tb tb2">
                                    <div class="list_tr">
                                        <div class="list_td hd">職務加給</div>
                                        <div class="list_td rt">@($"{_model.SalaryDutyAllowance:##,###,###,###}")</div>
                                    </div>
                                </div>
                            </li>
                            }
                            <li>
                                <div class="list_tb tb2">
                                    <div class="list_tr">
                                        <div class="list_td hd">上課業績獎金</div>
                                        <div class="list_td rt">@($"{_salary?.AttendanceBonus:##,###,###,###}")</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_tb tb2">
                                    <div class="list_tr">
                                        <div class="list_td hd">收款業績獎金</div>
                                        <div class="list_td rt">@($"{_salary?.AchievementBonus:##,###,###,###}")</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_tb tb2">
                                    <div class="list_tr">
                                        <div class="list_td hd">特別獎金</div>
                                        <div class="list_td rt">@($"{(_model.MonthlySalary.SalaryType == (int)MonthlySalary.SalaryTypeEnum.RegularPay ? _salary?.SpecialBonus : _model.SpecialBonus):##,###,###,###}")</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_tb tb2">
                                    <div class="list_tr">
                                        <div class="list_td hd">管理獎金</div>
                                        <div class="list_td rt">@($"{_salary?.ManagerBonus:##,###,###,###}")</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_tb tb2">
                                    <div class="list_tr">
                                        <div class="list_td hd">備註</div>
                                        <div class="list_td rt">@Html.Raw(_model.Remark)</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <ul class="mb_list ">
                            <li class="tit"><i class="zmdi zmdi-folder-star-alt"></i> 扣款金額</li>
                            <li>
                                <div class="list_tb tb2">
                                    <div class="list_tr">
                                        <div class="list_td hd">所得稅</div>
                                        <div class="list_td rt">@($"{_model.Tax:##,###,###,###}")</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_tb tb2">
                                    <div class="list_tr">
                                        <div class="list_td hd">勞保費</div>
                                        <div class="list_td rt">@($"{_model.LaborInsurrance:##,###,###,###}")</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_tb tb2">
                                    <div class="list_tr">
                                        <div class="list_td hd">健保費</div>
                                        <div class="list_td rt">@($"{_model.HealthInsurrance:##,###,###,###}")</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_tb tb2">
                                    <div class="list_tr">
                                        <div class="list_td hd">補充保費</div>
                                        <div class="list_td rt">@($"{_model.HealthSupplement:##,###,###,###}")</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_tb tb2">
                                    <div class="list_tr">
                                        <div class="list_td hd">病假(半薪)</div>
                                        <div class="list_td rt">@($"{_model.SickLeave:##,###,###,###}")</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_tb tb2">
                                    <div class="list_tr">
                                        <div class="list_td hd">事假(無薪)</div>
                                        <div class="list_td rt">@($"{_model.PersonalLeave:##,###,###,###}")</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_tb tb2">
                                    <div class="list_tr">
                                        <div class="list_td hd">防疫假</div>
                                        <div class="list_td rt">@($"{_model.EpidemicPL:##,###,###,###}")</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_tb tb2">
                                    <div class="list_tr">
                                        <div class="list_td hd">自願提繳</div>
                                        <div class="list_td rt">@($"{_model.WillingContribution:##,###,###,##0}")</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (_salary != null)
    {
        if(_salary is CoachMonthlySalary)
        {
            CoachMonthlySalary salaryItem = (CoachMonthlySalary)_salary;
            if (salaryItem.ServingCoach.UserProfile.IsHealthCare())
            {
                await Html.RenderPartialAsync("~/Views/ConsoleHome/Salary/AchievementBonusForHealthCare.cshtml", _model);
            }
            else if (salaryItem.PTAverageUnitPrice > 0)
            {
                await Html.RenderPartialAsync("~/Views/ConsoleHome/Salary/AchievementBonusForCoach.cshtml", _model);
            }
        }
    }
    <div class="panel">
        <div class="panel-heading" role="tab" id="headingCompanyPay">
            <h4 class="panel-title material-icons"> <a role="button" data-toggle="collapse" data-parent="#accordionDetail_companypay" href="#collapseCompanypay" aria-expanded="true" aria-controls="collapseCompanypay"> <i class="material-icons">subject</i> 公司提撥明細 </a> </h4>
        </div>
        <div id="collapseCompanypay" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCompanyPay">
            <div class="panel-body no-padding">
                <ul class="mb_list">
                    <li>
                        <div class="list_tb tb2">
                            <div class="list_tr">
                                <div class="list_td hd">勞保</div>
                                <div class="list_td rt">@($"{_model.LaborInsurranceByEmployer:##,###,###,###}")</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list_tb tb2">
                            <div class="list_tr">
                                <div class="list_td hd">健保</div>
                                <div class="list_td rt">@($"{_model.HealthInsurranceByEmployer:##,###,###,###}")</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list_tb tb2">
                            <div class="list_tr">
                                <div class="list_td hd">退休金</div>
                                <div class="list_td rt">@($"{_model.Pension:##,###,###,###}")</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>