@using System.IO
@using System.Linq.Expressions
@using System.Web

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Models.Timeline
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    UserProfile _model;
    List<LessonTime> _items;



    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];
    _model = (UserProfile)this.Model;

    _items = models.GetTable<RegisterLesson>().Where(r => r.UID == _model.UID)
                .TotalLessons(models)
                .Where(l => l.ClassTime > DateTime.Today)
                .OrderBy(l => l.ClassTime)
                .Take(3).ToList();

}
<div class="class-block">
    <h3>課表內容</h3>
    <!--Slider-->
    <div class="royalSlider contentSlider rsDefault" id="class-slider">
        @{ LessonTime todayLesson = null;}
        @if (_items.Count == 0)
        {
            <div class="rsTextSlide">
                <div class="row valign-wrapper">
                    <div class="col s4 m3 l2">
                        <img src="images/avatars/noname.png" alt="" class="circle responsive-img valign">
                    </div>
                    <div class="col s8 m9 l10 text-box">
                        <span class="black-t18">Ooooooops！目前沒有上課耶！</span>
                    </div>
                </div>
            </div>
        }
        else
        {
            foreach (var item in _items)
            {
                if (item.ClassTime.Value.Date == DateTime.Today)
                {
                    todayLesson = item;
                }
                <div class="rsTextSlide">
                    <div class="row valign-wrapper">
                        <div class="col s4 m3 l2">
                            <a href="javascript:gtag('event', '課表內容', {  'event_category': '卡片點擊',  'event_label': '卡片總覽'});window.location.href = '@(Url.Action("ViewLesson","CornerKick",new { keyID = HttpUtility.UrlEncode(item.LessonID.EncryptKey()) }))';">
                                @{ ViewBag.ImgClass = "circle responsive-img valign";
                                    await Html.RenderPartialAsync("~/Views/CornerKick/Module/ProfileImage.cshtml", item.AsAttendingCoach.UserProfile);}

                            </a>
                        </div>
                        <div class="col s8 m9 l10 text-box">
                            <span class="black-t18">
                                <a href="javascript:gtag('event', '課表內容', {  'event_category': '卡片點擊',  'event_label': '卡片總覽'});window.location.href = '@(Url.Action("ViewLesson","CornerKick",new { keyID = HttpUtility.UrlEncode(item.LessonID.EncryptKey()) }))';">@($"{item.ClassTime:yyyy/MM/dd HH:mm}")</a>
                            </span>
                            <span class="black-t12">@(item.TrainingPlan.FirstOrDefault()?.TrainingExecution.Emphasis)</span>
                        </div>
                    </div>
                    <span class="rsTmb">@($"{item.ClassTime:MM/dd}")</span>
                </div>
            }
        }
    </div>
    <!-- // End of Slider  -->
</div>
<script>
    $(function () {

        $('#class-slider').royalSlider({
            autoHeight: true,
            arrowsNav: false,
            fadeinLoadedSlide: false,
            controlNavigationSpacing: 0,
            controlNavigation: '@(_items.Count>0 ? "tabs" : "none")',
            imageScaleMode: 'none',
            imageAlignCenter: false,
            loop: true,
            loopRewind: true,
            numImagesToPreload: 5,
            keyboardNavEnabled: true,
            usePreloader: false,
            startSlideId: @(_items.Count>0
                                ? todayLesson!=null
                                    ? _items.IndexOf(todayLesson)
                                    :_items.Count-1
                                : 0),
        });
    });
</script>


