@using System.IO
@using System.Linq.Expressions
@using System.Text

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    String _dialogID = $"contractMember{DateTime.Now.Ticks}";
    ContractMemberViewModel _viewModel;
    UserProfile _model = this.Model as UserProfile;


    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _viewModel = (ContractMemberViewModel)ViewBag.ViewModel;
    _viewModel.DialogID = _dialogID;
}
<div class="body">
    <div class="row clearfix">
        <div class="col-12">
            <div class="row clearfix">
                <div class="col-sm-12 col-12">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-danger" name="PID"
                               placeholder="Email" value="@Html.Raw(_model.PID)" />
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-account-box-mail"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <button type="button" class="btn btn-darkteal btn-round waves-effect float-right" onclick="javascript:updateEmail(this,'@Html.Raw(_model.UID.EncryptKey())');">更新 Email</button>
    <button type="button" class="btn btn-danger btn-round waves-effect" onclick="javascript: resetPassword('@Html.Raw(_model.UID.EncryptKey())');">重置密碼</button>
    @if (_model.UserProfileExtension.LineID != null)
    {
        <button type="button" class="btn btn-success btn-round waves-effect" onclick="javascript:unBindLine(this,'@Html.Raw(_model.UID.EncryptKey())');">解除 LINE 綁定</button>
    }
    <button type="button" class="btn btn-warning btn-round waves-effect btnStatus" onclick="javascript:commitLearner(this,'@Html.Raw(_model.UID.EncryptKey())',@((int)Naming.MemberStatus.已停用),'停用帳號');" disabled="@(_model.LevelID==(int)Naming.MemberStatusDefinition.Deleted)">停用帳號</button>
    <button type="button" class="btn btn-warning btn-round waves-effect btnStatus" onclick="javascript:commitLearner(this,'@Html.Raw(_model.UID.EncryptKey())',@((int)Naming.MemberStatus.已註冊),'啟用帳號');" disabled="@(_model.LevelID==(int)Naming.MemberStatusDefinition.Checked)">啟用帳號</button>
</div>
@if (_viewModel.HasReset != true)
{
    <script>
        $global.viewModel.HasReset = true;

        function resetPassword(keyID) {
            Swal.fire({
                title: "不後悔?",
                text: "重置密碼後原密碼將無法回復!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "確定, 不後悔",
                cancelButtonText: "不, 點錯了",
                focusCancel: true
            }).then((result) => {
                if (result.isConfirmed) {
                    showLoading();
                    $.post('@Html.Raw(Url.Action("CommitToResetPassword", "Account"))', { 'KeyID': keyID } , function (data) {
                        hideLoading();
                        if ($.isPlainObject(data)) {
                            if (data.result) {
                                Swal.fire(
                                    '重置成功!',
                                    '重置密碼 BEYOND',
                                    'success'
                                )
                            } else {
                                Swal.fire(
                                    'Oops...',
                                    data.message,
                                    'warning'
                                )
                            }
                        } else {
                            $('body').append(data);
                        }
                    });
                } else {
                    Swal.fire(
                        '取消成功',
                        '你的資料現在非常安全 :)',
                        'info'
                    )
                }
            });
        }

        function updateEmail(btn, keyID) {
            clearErrors();
            Swal.fire({
                title: "不後悔?",
                text: "確定更新Email?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "確定, 不後悔",
                cancelButtonText: "不, 點錯了",
                focusCancel: true
            }).then((result) => {
                if (result.isConfirmed) {
                    var viewModel = $(btn).closest('div.tab-pane').find('input,select,textarea').serializeObject();
                    viewModel.KeyID = keyID;
                    showLoading();
                    $.post('@Html.Raw(Url.Action("CommitPID", "Account"))', viewModel, function (data) {
                        hideLoading();
                        if ($.isPlainObject(data)) {
                            if (data.result) {
                                Swal.fire(
                                    '更新 Email 成功!',
                                    '資料已經更新 Bye!',
                                    'success'
                                )
                            } else {
                                Swal.fire(
                                    'Oops...',
                                    data.message,
                                    'warning'
                                )
                            }
                        } else {
                            $('body').append(data);
                        }
                    });
                } else {
                    Swal.fire(
                        '取消成功',
                        '你的資料現在非常安全 :)',
                        'info'
                    )
                }
            });
        }

        function unBindLine(btn, keyID) {
            clearErrors();
            Swal.fire({
                title: "不後悔?",
                text: "確定解除 LINE 綁定",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "確定, 不後悔",
                cancelButtonText: "不, 點錯了",
                focusCancel: true
            }).then((result) => {
                if (result.isConfirmed) {
                    showLoading();
                    $.post('@Html.Raw(Url.Action("CommitPID", "Account"))', {
                        'KeyID': keyID
                    }, function(data) {
                        hideLoading();
                        if ($.isPlainObject(data)) {
                            if (data.result) {
                                $(btn).remove();
                                Swal.fire(
                                    '解除 LINE 綁定成功!',
                                    '資料已經更新 Bye!',
                                    'success'
                                );
                            } else {
                                Swal.fire(
                                    'Oops...',
                                    data.message,
                                    'warning'
                                );
                            }
                        } else {
                            $('body').append(data);
                        }
                    });
                } else {
                    Swal.fire(
                        '取消成功',
                        '你的資料現在非常安全 :)',
                        'info'
                    )
                }
            });
        }

        function commitLearner(btn, keyID, levelID, confirmation) {
            clearErrors();
            Swal.fire({
                title: "不後悔?",
                text: "確定" + confirmation,
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "確定, 不後悔",
                cancelButtonText: "不, 點錯了",
                focusCancel: true
            }).then((result) => {
                if (result.isConfirmed) {
                    showLoading();
                    $.post('@Html.Raw(Url.Action("CommitUserStatus", "Account"))', {
                        'KeyID': keyID,
                        'LevelID': levelID
                    }, function (data) {
                        hideLoading();
                        if ($.isPlainObject(data)) {
                            if (data.result) {
                                var $btn = $(btn);
                                $btn.closest('div').find('.btnStatus').prop('disabled', false);
                                $btn.prop('disabled', true);
                                Swal.fire(
                                    confirmation + '成功!',
                                    '資料已經更新 Bye!',
                                    'success'
                                );
                            } else {
                                Swal.fire(
                                    'Oops...',
                                    data.message,
                                    'warning'
                                );
                            }
                        } else {
                            $('body').append(data);
                        }
                    });
                } else {
                    Swal.fire(
                        '取消成功',
                        '你的資料現在非常安全 :)',
                        'info'
                    );
                }
            });
        }

    </script>
}

