@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@using CommonLib.Utility

@functions
{
    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    CoachQueryViewModel _viewModel;
    DateTime idx = DateTime.Today.FirstDayOfMonth();
    DateTime monthIdx = DateTime.Today.FirstDayOfMonth();
}
@{
    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];

    _viewModel = (CoachQueryViewModel)ViewBag.ViewModel;

}

@{
    IQueryable<ServingCoach> coachItems = models.GetTable<ServingCoach>()
                        .Where(c => c.LeavedDate.HasValue);

    if (_viewModel.BranchID.HasValue)
    {
        coachItems = coachItems.Join(models.GetTable<V_WorkPlace>().Where(w => w.WorkPlace == _viewModel.BranchID),
                        c => c.CoachID, w => w.CoachID, (c, w) => c);
    }

}

<table class="table table-striped table-custom nowrap dataTable-coach" style="width:100%">
    <thead class="bg-darkteal">
        <tr>
            <th>姓名</th>
            <th>Level</th>
            <th>所屬學生數</th>
            <th>生效中合約</th>
            <th>過期合約</th>
            <th>離職日</th>
            <th>隸屬分店</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in coachItems)
            {
                var profile = item.UserProfile;
                <tr onclick="processCoachView('@Html.Raw(item.CoachID.EncryptKey())');">
                    <td>
                        <span class="list-icon">
                            @{
                                ViewBag.ProfileClass = "patients-img";
                                await Html.RenderPartialAsync("~/Views/Common/ProfileImage.cshtml", profile);
                            }
                        </span>
                        <span class="hidden-sm-down">
                            @(
                            profile.FullName()
                            )
                        </span>
                    </td>
                    <td>@(
                        item.ProfessionalLevel?.LevelName
                        )
                        </td>
                    <td>
                        @(
                        item.LearnerFitnessAdvisor.Count()
                            )
                    </td>
                    <td>
                        @(
                        models.PromptEffectiveContract()
                        .Where(c => c.FitnessConsultant == profile.UID).Count()
                            )
                    </td>
                    <td>
                        @(
                        models.PromptRegisterLessonContract()
                        .FilterByExpired(models)
                        .Where(c => c.FitnessConsultant == profile.UID).Count()
                        )
                    </td>
                    <td>
                        @($"{item.LeavedDate:yyyy/MM/dd}")
                    </td>
                    <td>@(item.WorkPlace())</td>
                </tr>
            }
        }
    </tbody>
</table>

<script>

    $(function () {

        if ($global.dtCoach != undefined) {
            $global.dtCoach.destroy();
        }

        $global.dtCoach = $('.dataTable-coach').DataTable({
            "order": [
                [1, 'asc']
            ],
            "pageLength": 30,
            "bInfo": true,//頁尾資訊
            "searching": true,  //搜尋框，不顯示
            "language": {
                "lengthMenu": "每頁顯示 _MENU_ 筆資料",
                "zeroRecords": "沒有資料也是種福氣",
                "info": "共 _TOTAL_ 筆，目前顯示第 _START_ 至 _END_筆資料",
                "infoEmpty": "顯示 0 筆的資料",
                "infoFiltered": "(總共從 _MAX_ 筆資料過濾)",
                "loadingRecords": "快馬加鞭處理中...",
                "processing": "快馬加鞭處理中...",
                "search": "快速搜尋：",
                "paginate": {
                    "first": "第一頁",
                    "last": "最後一頁",
                    "next": "下一頁",
                    "previous": "前一頁"
                },
            },
            scrollX: true,
            scrollCollapse: true,
            fixedColumns: {
                leftColumns: 1,
            },
            "columnDefs": [
                {
                    targets: [1, 2, 3, 4, 5, 6],
                    className: "align-center more"
                },
                {
                    targets: [0],
                    className: "more"
                }
            ],
        });

        $('.dataTable-coach').resize();

    });

</script>