

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@using WebHome.Views.MainActivity.Resources

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;
    CoachItem _viewModel;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _modelState = ViewContext.ModelState;
    _viewModel = (CoachItem)ViewBag.ViewModel;

    Layout = "~/Views/MainActivity/Template/MainPage.cshtml";

}

@section CustomHeader { 
 
}

<!-- // 個人介紹 -->
    <section class="section-portfolio full-width-section">
        <div class="text-center">
                <img src="@($"images/landing/portfolio/{ _viewModel.nickname}/Cover.png")" alt="私人教練">
            </div>
            <div class="full-text-container bg-light-gray">
                <h1 class="text-center">@(_viewModel.coachName) <small>@(_viewModel.nickname)</small></h1>
                <div class="testimonials">
                    <div class="body">
                        <i class="fa fa-quote-left"></i><h2>@Html.Raw(_viewModel.prologue)</h2>
                    </div>                    
                </div>                
            </div>
    </section>
    <!-- // 教學照片 -->
    @if (_viewModel.scenarioPhoto != null && _viewModel.scenarioPhoto.Count > 0)
        {
    <section class="section-slick nopadding">
        <div class="testimonials-slick-slide">
            @foreach (var photo in _viewModel.scenarioPhoto)
                {
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <img class="fullwidth" src="@($"images/landing/portfolio/{ _viewModel.nickname}/{photo}")" alt="私人教練"/>                   
                </div>
            </div>
            }
        </div>
    </section>
    }
    <!-- // 聯絡我們 -->
    @{ await Html.RenderPartialAsync("~/Views/MainActivity/Module/ContactItem.cshtml");}


@section TailPageJavaScriptInclude { 
<script>
        $(function () {
            reloadPage = function () {
                $('').launchDownload('@(Url.Action("CoachDetails", "MainActivity"))', @Html.Raw(JsonConvert.SerializeObject(_viewModel)));
            };
        });
    </script> 
}
