
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@using WebHome.Models.Resources

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _modelState = ViewContext.ModelState;

    Layout = "~/Views/MainActivity/Template/MainPage.cshtml";

}

@section CustomHeader {
    <meta name="description" content="BeyondFitness透過一對一專業教練暖心指導並提供安全的訓練環境，上課內容包含專業訓練、增肌減脂，運動傷害、物理治療、營養規劃與運動防護一次包辦！透過科學化方法創造人性化之專屬個人健康分析資料庫+雲端數據化紀錄，保證更有效率的為您增進心肺、肌力與體能，即使為新手初學者也能達成理想的體態與健康目標。台北各區皆設有分店：台北小巨蛋、東門、台北東區與信義安和分店歡迎您隨時來免費體驗。">
}

@section TailPageJavaScriptInclude {
    <!-- // 安心承諾 -->
    <section class="features-btm">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="image wow zoomIn" data-wow-delay=".3s">
                        <img src="images/landing/banner/banner-about.jpg">
                    </div>
                </div>
                <div class="col-md-6">
                    <h1>@Html.Raw(NamingItem.IndexFeature1)</h1>
                    @Html.Raw(NamingItem.Features1Desc)
                    <a href="javascript:bindTrackingCode('預約諮詢', 'AddToWishlist', '@(Url.Action("BookNow", "MainActivity"))', null)" class="btn btn-default btn-round btn-simple">@Html.Raw(NamingItem.BookNow)</a>
                </div>
            </div>
        </div>
    </section>
    <!-- // 安心承諾 -->
    <section class="features-btm white">
        <div class="container">
            <div class="row reverse">
                <div class="col-md-6">
                    <h1>@Html.Raw(NamingItem.IndexFeature2)</h1>
                    @Html.Raw(NamingItem.Features2Desc)
                </div>
                <div class="col-md-6 text-center">
                    <div class="image wow zoomIn" data-wow-delay=".8s">
                        <img src="images/landing/banner/banner-index.jpg">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // 安心承諾 -->
    <section class="features-btm">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="image wow zoomIn" data-wow-delay=".3s">
                        <img src="images/landing/banner/banner-join.jpg">
                    </div>
                </div>
                <div class="col-md-6">
                    <h1>@Html.Raw(NamingItem.IndexFeature3)</h1>
                    @Html.Raw(NamingItem.Features3Desc)
                    <a href="javascript:bindTrackingCode('預約諮詢', 'AddToWishlist', '@(Url.Action("BookNow", "MainActivity"))', null)" class="btn btn-default btn-round btn-simple">@Html.Raw(NamingItem.BookNow)</a>
                </div>
            </div>
        </div>
    </section>
    <!-- // 聯絡我們 -->
    @{ await Html.RenderPartialAsync("~/Views/MainActivity/Module/ContactItem.cshtml");}

}