

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@using WebHome.Models.Resources

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _modelState = ViewContext.ModelState;

    Layout = "~/Views/MainActivity/Template/MainPage.cshtml";
}

@section CustomHeader {
    <meta name="description" content="BeyondFitness透過一對一專業教練暖心指導並提供安全的訓練環境，上課內容包含專業訓練、增肌減脂，運動傷害、物理治療、營養規劃與運動防護一次包辦！透過科學化方法創造人性化之專屬個人健康分析資料庫+雲端數據化紀錄，保證更有效率的為您增進心肺、肌力與體能，即使為新手初學者也能達成理想的體態與健康目標。台北各區皆設有分店：台北小巨蛋、東門、台北東區與信義安和分店歡迎您隨時來免費體驗。">
}

<!-- // Banner -->
<section class="section-header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="wow zoomIn" data-wow-delay=".3s">@Html.Raw(NamingItem.IndexBannerTitle)</h1>
                <h2 class="wow zoomIn col-white" data-wow-delay=".6s">@Html.Raw(NamingItem.IndexBannerSubTitle)</h2>
                <a href="javascript:bindTrackingCode('預約諮詢', 'AddToWishlist', '@(Url.Action("BookNow", "MainActivity"))', null)" class="btn btn-sm bg-default fadeInUp animated" data-wow-delay=".6s" data-effect="mfp-zoom-in">@Html.Raw(NamingItem.BookNow)<i class="pl-1 fa fa-angle-right"></i></a>                
            </div>
            <!-- iPhone -->
            <div class="col-md-8 col-md-offset-2 text-center">
                <img class="header_iphone wow fadeInUp animated" src="images/landing/banner/banner-index3.jpg" alt="線上課程" data-wow-delay=".3s" data-effect="mfp-zoom-in">
            </div>
            <!-- //iPhone -->
        </div>
    </div>
</section>
<!-- // 三大保證 -->
 <section class="section-features">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                    <img src="images/landing/guarantee.png" alt="私人教練">  
                     <a href="javascript:bindTrackingCode('三大保證', null, '@(Url.Action("Features", "MainActivity"))', null)" class="more">@Html.Raw(NamingItem.LearnMore)<i class="pl-1 fa fa-angle-right"></i></a>                  
             </div>                
        </div>            
    </div>
</section>
<!-- // 影片分享 -->
<section class="section-vedio bg-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center">                  
                <h1>@Html.Raw(NamingItem.IndexVedioTitle)</h1>
                <p>@Html.Raw(NamingItem.IndexVedioSubTitle)</p>
                <p>@Html.Raw(NamingItem.IndexVedioDesc)</p>                                     
            </div>
            <div class="col-sm-6">
                <div class="popup-gallery">
                    <a class="popup-youtube" href="https://www.youtube-nocookie.com/embed/x88BkpwEvKc?autoplay=1&rel=0&showinfo=0&loop=1" onclick="javascript:bindTrackingCode('影片播放_中天採訪')">
                        <img src="images/landing/video/index-3.jpg" alt="銀髮族運動" class="wow zoomin" data-wow-delay=".3s">
                        <span class="eye-wrapper">
                            <i class="zmdi zmdi-youtube-play"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>    
<!-- // 雲端數據 -->
<section class="section-fun-facts nopadding full-width-section">
    <div class="full-text-container">
        <h1>@Html.Raw(NamingItem.IndexFunFactsTitle)</h1>
        <p>@Html.Raw(NamingItem.IndexFunFactsContent)</p>
    </div>               
    <div>
        <img src="images/landing/mobile2.jpg" class="wow zoomIn" data-wow-delay=".3s" alt="客製化健身藍圖">
    </div>              
</section> 
<!-- Partner Section Start -->
<div class="clients">
    <div class="container">
        <div class="text-center">
            <h2 class="section-title">@Html.Raw(NamingItem.IndexPartnerTitle)</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="client-item-wrapper"><img class="img-fluid" src="images/landing/partner/logo-1.png" alt=""></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="client-item-wrapper"><img class="img-fluid" src="images/landing/partner/logo-2.png" alt=""></div>
            </div>                       
         </div>           
    </div>
</div>
<!-- // 聯絡我們 -->
@{ await Html.RenderPartialAsync("~/Views/MainActivity/Module/ContactItem.cshtml");}
<!-- // 公告事項 -->
@*@{ await Html.RenderPartialAsync("~/Views/MainActivity/Module/DeclarationItem.cshtml");}*@


@section TailPageJavaScriptInclude {
}