
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json
@using WebHome.Views.MainActivity.Resources

@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;

}

<li><a href="javascript:bindTrackingCode('關於我們', 'ViewContent', '@(Url.Action("AboutUs"))', null)">@Html.Raw(NamingItem.AboutUs)</a></li>
<li><a href="javascript:bindTrackingCode('分店一覽', 'Search', '@(Url.Action("FindUs"))', null)">@Html.Raw(NamingItem.FindUs)</a></li>
<li><a href="javascript:bindTrackingCode('常見問題', 'AddToCart', '@(Url.Action("FAQ"))', null)">@Html.Raw(NamingItem.FAQ)</a></li>
<li><a href="javascript:bindTrackingCode('知識分享_列表分類', 'CompleteRegistration', '@(Url.Action("BlogList"))', null)">@Html.Raw(NamingItem.Blog)</a></li>
<li><a href="javascript:bindTrackingCode('加入團隊', null, '@(Url.Action("JoinUs"))', null)">@Html.Raw(NamingItem.JoinUs)</a></li>
@if (ViewBag.Lang == null || ViewBag.Lang == "zh-TW")
{
    <li><a href="javascript:bindTrackingCode('切換語系_EN', 'Search', null, null);changeLanguage('en-US');" class="btn-link2">EN <i class="zmdi zmdi-globe-alt"></i></a></li>
}
else
{
    <li><a href="javascript:bindTrackingCode('切換語系_繁中', 'Search', null, null);changeLanguage('zh-TW');" class="btn-link2">繁 <i class="zmdi zmdi-globe-alt"></i></a></li>
}
<li>
    <a href="javascript:bindTrackingCode('預約諮詢', 'AddToWishlist', '@(Url.Action("BookNow"))', null)" class="btn btn-default btn-round">@Html.Raw(NamingItem.BookNow)</a>
</li>