

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@{

    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;
    QueryViewModel _viewModel;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _modelState = ViewContext.ModelState;
    _viewModel = (QueryViewModel)ViewBag.ViewModel;
    String _dialogID = _viewModel.DialogID;

    var profile = await Context.GetUserAsync();
}

<div class="row clearfix">
    <div class="col-12">
        <h6><strong>顯示設定</strong></h6>
        <div class="row clearfix">
            <div class="col-12">
                <div class="fancy-checkbox">
                    <label><input name="SelectType" value="" type="checkbox"><span><i></i>全部</span></label>
                    @if (profile.IsSysAdmin() || profile.IsAssistant() || profile.IsManager() || profile.IsViceManager() || (profile.IsCoach() && !profile.IsHealthCare()))
                    {
                        <label><input name="SessionType" value="@((int)Naming.SessionTypeDefinition.PT)" type="checkbox" checked="checked"><span><i></i>P.T</span></label>
                        <label><input name="SessionType" value="@((int)Naming.SessionTypeDefinition.PI)" type="checkbox"><span><i></i>P.I</span></label>
                        <label><input name="SessionType" value="@((int)Naming.SessionTypeDefinition.ST)" type="checkbox"><span><i></i>S.T</span></label>
                        <label><input name="SessionType" value="@((int)Naming.SessionTypeDefinition.TS)" type="checkbox"><span><i></i>T.S</span></label>
                    }
                    @if (profile.IsSysAdmin() || profile.IsAssistant() || profile.IsManager() || profile.IsViceManager() || profile.IsHealthCare())
                    {
                        <label><input name="SessionType" value="@((int)Naming.SessionTypeDefinition.AT)" type="checkbox"><span><i></i>A.T</span></label>
                        <label><input name="SessionType" value="@((int)Naming.SessionTypeDefinition.SR)" type="checkbox"><span><i></i>S.R</span></label>
                        <label><input name="SessionType" value="@((int)Naming.SessionTypeDefinition.SD)" type="checkbox"><span><i></i>S.D</span></label>
                    }
                    <script>
                            $(function () {
                                $('#@(_dialogID) input[name="SelectType"]').on('click', function (event) {
                                    var $this = $(this);
                                    $('#@(_dialogID) input[name="SessionType"]').prop('checked', $this.is(':checked'));
                                });

                                $('#@(_dialogID) input[name="SessionType"]').on('click', function (event) {
                                    var $this = $(this);
                                    if ($this.is(':checked') == false) {
                                        $('#@(_dialogID) input[name="SelectType"]').prop('checked', false);
                                    }
                                });
                            });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
