
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    LessonTime _model;
    CalendarEventQueryViewModel _viewModel;
    String _dialogID = $"boy{DateTime.Now.Ticks}";
    TrainingPlan plan;


    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _model = (LessonTime)this.Model;
    _viewModel = (CalendarEventQueryViewModel)ViewBag.ViewModel;
    plan = _model.AssertTrainingPlan(models);
}
<div class="modal fade" id="@(_dialogID)" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="member-card">
                <a class="closebutton" data-dismiss="modal"></a>
                <div class="@("header " + (_model.RegisterLesson.UserProfile.UserProfileExtension.Gender == "M"
                                            ? "l-cyan-2"
                                            : _model.RegisterLesson.UserProfile.UserProfileExtension.Gender == "F"
                                                ? "l-blush"
                                                : "g-bg-darkteal"))">
                    <h4 class="m-t-0 p-t-10">@(_model.RegisterLesson.UserProfile.FullName())</h4>
                </div>
                <div class="member-img">
                    <a href="javascript:$('').launchDownload('@Html.Raw(Url.Action("LearnerProfile","ConsoleHome"))', { 'keyID': '@Html.Raw(_model.RegisterLesson.UID.EncryptKey())' });">
                        @{
                            ViewBag.ProfileClass = "rounded-circle popfit";
                            await Html.RenderPartialAsync("~/Views/Common/ProfileImage.cshtml", _model.RegisterLesson.UserProfile);
                        }
                    </a>
                </div>
                <div class="body">
                    <div class="col-12">
                        <p class="text-muted">@(_model.FullLessonDuration())</p>
                        <address>
                            @(_model.LessonTypeStatus())
                            @if (_model.IsPISession())
                            {
                                <text>《@(_model.RegisterLesson.LessonPriceType?.UsageTypeDescription?.Usage)》</text>
                            }
                            <i class="zmdi zmdi-pin"></i>@(_model.BranchID.HasValue ? _model.BranchStore.BranchName : _model.Place)
                        </address>
                    </div>
                    <hr>
                    @{ await Html.RenderPartialAsync("~/Views/ConsoleEvent/Module/LessonEmphasis.cshtml", _model);}

                </div>
            </div>
            <div class="modal-footer">
                @if (_model.PreferredLessonTime == null || _model.PreferredLessonTime.ApproverID.HasValue)
                {
                    <button type="button" class="btn btn-darkteal btn-round waves-effect" onclick="javascript:$('').launchDownload('@Html.Raw(Url.Action("LessonTrainingContent", "ConsoleHome", new { LearnerID = _model.RegisterLesson.UID }))', {'keyID': '@Html.Raw(_model.LessonID.EncryptKey())' });"><i class="zmdi zmdi-edit"></i></button>
                    @*<button type="button" class="btn btn-darkteal btn-round waves-effect" onclick="javascript:$('').launchDownload('@Html.Raw(Url.Action("LearnerProfile","ConsoleHome"))', { 'keyID': '@Html.Raw(_model.RegisterLesson.UID.EncryptKey())' });"><i class="zmdi zmdi-edit"></i></button>*@
                    <button type="button" class="btn btn-simple btn-round waves-effect" onclick="commitEmphasis('@(plan.ExecutionID.EncryptKey())');">更新重點</button>
                }
                @{ await Html.RenderPartialAsync("~/Views/ConsoleEvent/Module/RevokeLesson.cshtml", _model);}

            </div>
        </div>
    </div>
    @{ await Html.RenderPartialAsync("~/Views/ConsoleHome/Shared/BSModalScript.cshtml", model: _dialogID);}

    <script>

    </script>
</div>

