

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json
@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;
    UserProfile _model;
    CourseContractQueryViewModel _viewModel;

    Layout = "~/Views/ConsoleHome/Template/MainPage.cshtml";


    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    _model = (UserProfile)this.Model;
    _viewModel = (CourseContractQueryViewModel)ViewBag.ViewModel;

}
@section CustomHeader {
    <!-- JQuery DataTable Css -->
    <link href="plugins/jquery-datatable/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="plugins/jquery-datatable/Responsive-2.2.2/css/responsive.bootstrap4.min.css" rel="stylesheet">
    <link href="plugins/jquery-datatable/FixedColumns-3.2.5/css/fixedColumns.bootstrap4.min.css" rel="stylesheet">
    <!-- Bootstrap Datetimepick -->
    
    <link href="css/smartcalendar-2.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link rel="stylesheet" href="css/customelist.css?1" />
}

<!-- Main Content -->
<section class="content">
    @{
        ViewBag.BlockHeader = "編輯合約";
        ViewBag.InsertPartial = "~/Views/ConsoleHome/Shared/MyContractHeader.cshtml";
        Html.RenderPartial("~/Views/ConsoleHome/Module/BlockHeader.cshtml", _model);
    }

    <!--合約基本資料-->
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                @{ Html.RenderPartial("~/Views/ContractConsole/Editing/SelectConsultant.cshtml", _model);}
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <select class="form-control show-tick" name="ContractType">
                            <option value="">-- 請選擇合約類型 --</option>
                            @foreach (var item in models.GetTable<CourseContractType>().Where(c => c.TypeID < 5))
                            {
                                <option value="@(item.TypeID)">@(item.TypeName)</option>
                            }
                        </select>
                        <script>
                                $(function () {
                                    $('select[name="ContractType"]').val('@(_viewModel.ContractType)');
                                    $('select[name="ContractType"]').on('change', function (event) {
                                        $global.viewModel.ContractType = $(this).val();
                                        if ($global.viewModel.PriceID) {
                                            calcTotalCost();
                                        }
                                    });
                                });
                        </script>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <select class="form-control show-tick" name="Renewal">
                            <option value="" selected="">-- 是否為舊生續約 --</option>
                            <option value="True">是</option>
                            <option value="False">否</option>
                        </select>
                        <script>
                                $(function () {
                                    $('select[name="Renewal"]').val('@(_viewModel.Renewal)');
                                    $('select[name="Renewal"]').on('change', function (event) {
                                        $global.viewModel.Renewal = $(this).val();
                                    });
                                });
                        </script>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <select class="form-control show-tick" name="BranchID">
                            @if (_model.IsAssistant() || _model.IsOfficer())
                            {
                                <option value="">-- 請選擇上課場所 --</option>
                            }
                            else
                            {
                                int[] intentStore = ViewBag.IntentStore = models.GetTable<CoachWorkplace>().Where(w => w.CoachID == _model.UID).Select(w => w.BranchID).ToArray();
                                if (intentStore.Length > 1)
                                {
                                    <option value="">-- 請選擇上課場所 --</option>
                                }
                            }
                            @{ 
                                ViewBag.DataItems = models.PromptRealStore();
                                Html.RenderPartial("~/Views/SystemInfo/BranchStoreOptions.cshtml", model: _viewModel.BranchID);
                            }
                        </select>
                        <script>
                            $(function () {
                                    @if(_viewModel.BranchID.HasValue)
                                    {
                                        <text>$('select[name="BranchID"]').val('@(_viewModel.BranchID)');</text>
                                    }
                                    else
                                    {
                                        <text>$global.viewModel.BranchID = $('select[name="BranchID"]').val();</text>
                                    }
                                    $('select[name="BranchID"]').on('change', function (event) {
                                        $global.viewModel.BranchID = $(this).val();
                                    });
                                });
                        </script>
                        @*<label class="material-icons help-error-text">clear 請選擇上課場所</label>*@
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <select class="form-control show-tick" name="DurationInMinutes">
                            <option value="">-- 請選擇上課時間長度 --</option>
                            <option value="60">60分鐘</option>
                            <option value="90">90分鐘</option>
                        </select>
                        <script>
                                $(function () {
                                    $('select[name="DurationInMinutes"]').val('@(_viewModel.DurationInMinutes)');
                                    $('select[name="DurationInMinutes"]').on('change', function (event) {
                                        $global.viewModel.DurationInMinutes = $(this).val();
                                    });
                                });
                        </script>
                        @*<label class="material-icons help-error-text">clear 請選擇上課時間長度</label>*@
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-danger" name="Lessons" placeholder="購買堂數" />
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-shopping-cart-plus"></i>
                            </span>
                        </div>
                        <script>
                                $(function () {
                                    $('input[name="Lessons"]').val('@(_viewModel.Lessons)');
                                    $('input[name="Lessons"]').on('change', function (event) {
                                        $global.viewModel.Lessons = $(this).val();
                                        calcTotalCost();
                                        loadInstallments($global.viewModel.Lessons);
                                    });
                                });
                        </script>
                        @*<label class="material-icons help-error-text">clear 請輸入購買堂數</label>*@
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        @{ Html.RenderPartial("~/Views/ContractConsole/Editing/SelectLessonPrice.cshtml", _model);}

                    </div>
                    <div class="col-md-12 text-right" id="costSummary">
                        @{ Html.RenderPartial("~/Views/ContractConsole/Editing/TotalCostSummary.cshtml", model: _viewModel.TotalCost ?? 0);}

                    </div>
                    <script>
                            function calcTotalCost() {
                                if ($global.viewModel.PriceID && $global.viewModel.Lessons) {
                                    $.post('@Html.Raw(Url.Action("CalculateTotalCost", "ContractConsole"))', $global.viewModel, function (data) {
                                        if ($.isPlainObject(data)) {
                                            alert(data.message);
                                        } else {
                                            $('#costSummary').empty()
                                                .append(data);
                                        }
                                    });
                                }
                            }//
                    </script>
                </div>
            </div>
        </div>
    </div>
    <!--學生基本資料-->
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>學生基本資料</strong></h2>
                        <div class="col-md-8 col-lg-8 col-8 float-right">
                            <div class="input-group">
                                @{ ViewBag.SearchAction = Url.Action("SearchContractMember", "ContractConsole");
                                    Html.RenderPartial("~/Views/ConsoleEvent/Module/SearchLearner.cshtml");}

                            </div>
                        </div>
                    </div>
                    <div class="body" id="contractMember">
                        @{ Html.RenderPartial("~/Views/ContractConsole/Editing/ListContractMember.cshtml", _model);}

                    </div>
                    <input type="hidden" name="OwnerID" />
                    <script>
                        function loadMemberList() {
                            showLoading();
                            $.post('@Html.Raw(Url.Action("ListContractMember", "ContractConsole"))', $global.viewModel, function (data) {
                                hideLoading();
                                if ($.isPlainObject(data)) {
                                    alert(data.message);
                                } else {
                                    $('#contractMember').empty()
                                        .append(data);
                                }
                            });
                        }

                        function editContractMember(uid) {
                            showLoading();
                            $.post('@Html.Raw(Url.Action("EditContractMember", "ContractConsole"))', { 'uid': uid, 'OwnerID': $global.viewModel.OwnerID }, function (data) {
                                hideLoading();
                                if ($.isPlainObject(data)) {
                                    alert(data.message);
                                } else {
                                    $(data).appendTo($('body'));
                                }
                            });
                            //$global.closeAllModal();
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    <!--其他增補說明-->
    <!--其他增補說明-->
    <div class="container-fluid">
        <div class="card widget_2">
            <ul class="row clearfix list-unstyled m-b-0">
                <li class="col-lg-6 col-md-12 col-sm-12">
                    <div class="header">
                        <h2><strong>付款方式</strong></h2>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-12 m-b-20">
                                <label class="fancy-checkbox">
                                    <input type="checkbox" name="PaymentMethod" value="現金" />
                                    <span>現金</span>
                                </label>
                                <label class="fancy-checkbox">
                                    <input type="checkbox" name="PaymentMethod" value="刷卡" />
                                    <span>刷卡</span>
                                </label>
                                <label class="fancy-checkbox">
                                    <input type="checkbox" name="PaymentMethod" value="轉帳" />
                                    <span>轉帳</span>
                                </label>
                            </div>
                            @if (_viewModel.PaymentMethod != null)
                            {
                            <script>
                                    $(function () {
                                        @foreach(var p in _viewModel.PaymentMethod)
                                        {
                                            <text>$('input:checkbox[name="PaymentMethod"][value="@(p)"]').prop('checked', true);</text>
                                        }
                                    });
                            </script>
                            }
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <label class="fancy-checkbox">
                                    <input type="checkbox" name="InstallmentPlan" value="@(true)" @(_viewModel.InstallmentPlan == true ? "checked" : null) onclick="checkInstallmentPlan();">
                                    <span>分期支付</span>
                                </label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                                <select class="form-control show-tick installments" name="Installments" onchange="installmentPlanRemark();"></select>
                                <script>

                                    function installmentPlanRemark() {
                                        var $installments = $('select[name="Installments"]');
                                        $global.viewModel.Installments = $installments.val();
                                        if ($installments.val() != '') {
                                            var content = '本合約總共購買' + $('input[name="Lessons"]').val() + '堂，分期轉開次數' + $installments.val() + '次。';
                                            $global.viewModel.Remark = prepareRemark(content);
                                        }
                                    }

                                    function prepareRemark(remark) {
                                        var $remark = $('textarea[name="Remark"]');
                                        var content = $remark.val();
                                        content = remark + content.replace(/本合約.*次。/g, '');
                                        $remark.val(content);
                                        return content;
                                    }

                                    function checkInstallmentPlan() {
                                        var $installmentPlan = $('input[name="InstallmentPlan"]');
                                        var $installments = $('.installments');
                                        if ($installmentPlan.is(':checked')) {
                                            $installments.css('display', 'block');
                                            $global.viewModel.InstallmentPlan = true;
                                        } else {
                                            $installments.css('display', 'none');
                                            $('select[name="Installments"]').selectpicker('val', '');
                                            $global.viewModel.InstallmentPlan = false;
                                            $global.viewModel.Remark = prepareRemark('');
                                        }
                                    }

                                        $(function () {
                                            checkInstallmentPlan();
                                        });

                                        function loadInstallments(lessons, installments) {
                                            var $installments = $('select[name="Installments"]');
                                            if (!installments) {
                                                installments = $installments.val();
                                            }
                                            $installments.empty();
                                            if (lessons == '' || isNaN(Number(lessons))) {
                                                return;
                                            }
                                            showLoading();
                                            $.post('@Html.Raw(Url.Action("LoadInstallmentPlan","CourseContract"))', { 'lessons': lessons, 'installments': installments }, function (data) {
                                                hideLoading();
                                                if ($.isPlainObject(data)) {
                                                    Swal.fire(
                                                        'Oops...',
                                                        data.message,
                                                        'warning'
                                                    )
                                                } else {
                                                    $(data).appendTo($installments);
                                                    $installments.selectpicker('refresh');
                                                }
                                            });
                                        }
                                    @if (_viewModel.InstallmentPlan == true || _viewModel.Lessons > 0)
                                    {
                                        <text>
                                        $(function () {
                                                loadInstallments('@(_viewModel.Lessons)', '@(_viewModel.Installments)');
                                        });
                                        </text>
                                    }
                                </script>
                            </div>
                            @if (_viewModel.PartialEffectiive == true)
                            {
                                <script>
                                    $(function () {
                                        $('input[name="InstallmentPlan"]').prop('disabled', true);
                                        $('select[name="Installments"]').prop('diisabled', true);
                                    });
                                </script>
                            }
                        </div>
                    </div>
                </li>
                <li class="col-lg-6 col-md-12 col-sm-12">
                    <div class="header">
                        <h2><strong>其他增補說明</strong></h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea rows="4" class="form-control no-resize" name="Remark" placeholder="請輸入任何想補充的事項...">@(_viewModel.Remark)</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-12">
                    <button type="button" class="btn btn-primary btn-round waves-effect float-right" onclick="commitContract();">確定，不後悔</button>
                    <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" onclick="saveContract();">暫時存檔</button>
                    <script>
                                function saveContract() {
                                    clearErrors();
                                    $global.viewModel.PaymentMethod = $('input[name="PaymentMethod"]').serializeObject().PaymentMethod;
                                    $global.viewModel.Remark = $('textarea[name="Remark"]').val();
                                    $.post('@Html.Raw(Url.Action("SaveContract", "ContractConsole", _viewModel.ContractID))', $global.viewModel, function (data) {
                                        if ($.isPlainObject(data)) {
                                            Swal.fire(
                                                'Oops...',
                                                data.message,
                                                'warning'
                                            )
                                        }
                                        else {
                                            $(data).appendTo($('body'));
                                        }
                                    });
                                }
                                function commitContract() {
                                    clearErrors();
                                    $global.viewModel.PaymentMethod = $('input[name="PaymentMethod"]').serializeObject().PaymentMethod;
                                    $global.viewModel.Remark = $('textarea[name="Remark"]').val();
                                    $.post('@Html.Raw(Url.Action("CommitContract", "ContractConsole", _viewModel.ContractID))', $global.viewModel, function (data) {
                                        if ($.isPlainObject(data)) {
                                            Swal.fire(
                                                'Oops...',
                                                data.message,
                                                'warning'
                                            )
                                        }
                                        else {
                                            $(data).appendTo($('body'));
                                        }
                                    });
                                }//
                    </script>
                </li>
            </ul>
        </div>
    </div>
</section>

@section TailPageJavaScriptInclude {
    <!--Sparkline Plugin Js-->
    <script src="plugins/jquery-sparkline/jquery.sparkline.js"></script>
    <!-- SweetAlert Plugin Js -->
    <script src="plugins/sweetalert/sweetalert.min.js"></script>
    <!-- Jquery DataTable Plugin Js -->
    <script src="bundles/datatablescripts.bundle.js"></script>
    <script src="plugins/jquery-datatable/Responsive-2.2.2/js/dataTables.responsive.min.js"></script>
    <script src="plugins/jquery-datatable/FixedColumns-3.2.5/js/dataTables.fixedColumns.min.js"></script>

    @{ Html.RenderPartial("~/Views/ConsoleHome/Shared/KnobJS.cshtml");}


    <script type="text/javascript">

    </script>
}


