

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json

@{
    Layout = "~/Views/ConsoleHome/Template/MainPage.cshtml";
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;
    UserProfile _model;
    IQueryable<LessonTime> _lessons;
    LessonTimeBookingViewModel _viewModel;

    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    _model = (UserProfile)this.Model;
    _viewModel = (LessonTimeBookingViewModel)ViewBag.ViewModel;

    IQueryable<LessonTime> items = models.GetTable<LessonTime>().Where(l => l.AttendingCoach == _model.UID);
    //.FilterByUserRoleScope(models, _model);
    ViewBag.LessonTimeItems = items;

    _lessons = items.PTLesson()
        .Union(items.Where(l => l.TrainingBySelf == 1))
        .Union(items.TrialLesson());

    //items = models.GetTable<LessonTime>().FilterByUserRoleScope(models, _model);
}

@section CustomHeader {
    <!-- royalslider -->
    <link href="plugins/royalslider/royalslider.css" rel="stylesheet" />
    <link href="plugins/royalslider/skins/default/rs-default.css" rel="stylesheet" />
    <link href="css/royalslider.css?1.1" rel="stylesheet" />
    <!-- charts-c3 -->
    <link href="plugins/charts-c3/plugin_white.css" rel="stylesheet" />
}

<!--Sparkline Plugin Js-->
<script src="plugins/jquery-sparkline/jquery.sparkline.js"></script>
<script>
        $(function () {
            $global.viewModel = @Html.Raw(JsonConvert.SerializeObject(_viewModel));

            for (var i = 0; i < $global.onReady.length; i++) {
                $global.onReady[i]();
            }
        });
</script>
<section class="content">

    @{ ViewBag.BlockHeader = "任意門";
        Html.RenderPartial("~/Views/ConsoleHome/Module/BlockHeader.cshtml", _model);}

    <!--本月運動時間-->
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card bg-darkteal exerciserank">
                    <div class="body">
                        <div class="font-20 align-center">
                            @{
                                Html.RenderPartial("~/Views/LearnerProfile/Module/ExerciseSummary.cshtml", _model);
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--我的行事曆卡片-->
    @if (!_model.IsAuthorizedSysAdmin())
    {
        <div class="container-fluid">
            <div class="row clearfix">
                <h4 class="card-outbound-header m-l-15">我的行事曆</h4>
                <div class="col-lg-12 col-md-12">
                    <div class="row clearfix">
                        <div class="col-12">
                            <div class="card">
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-md-6 col-12 weather">
                                            <ul class="row days list-unstyled m-t-20">
                                                @{ DateTime weekday = DateTime.Today.FirstDayOfWeek();

                                                    bool includeUserEvent = _model.IsAssistant() || _model.IsSysAdmin() || _model.IsOfficer();
                                                    IQueryable<UserEvent> userEvents = null;}
                                                @if (includeUserEvent)
                                                {
                                                    userEvents = models.PromptMemberEvents(_model);
                                                }

                                                @for (int i = 0; i < 7; i++)
                                                {
                                                    DateTime endDate = weekday.AddDays(1);
                                                    var lessons = _lessons.Where(l => l.ClassTime >= weekday && l.ClassTime < endDate);
                                                    var lessonCount = lessons.Count();
                                                    if (includeUserEvent)
                                                    {
                                                        lessonCount += (userEvents.Where(t => (t.StartDate >= weekday && t.StartDate < endDate)
                                                            || (t.EndDate >= weekday && t.EndDate < endDate)
                                                            || (t.StartDate < weekday && t.EndDate >= endDate)).Count());
                                                    }
                                                    <li class="@(weekday == DateTime.Today ? "col-pink" : null)" onclick="window.location.href = '@Html.Raw(Url.Action("Calendar", "ConsoleHome", new { DateFrom = weekday, DateTo = endDate }))';">
                                                        <h5>@($"{weekday:M/d}")</h5>
                                                        <img src="@(lessonCount < 3
                                            ? "images/facesmile/easy-1.jpg"
                                            : lessonCount > 5
                                                  ? "images/facesmile/hard-1.jpg"
                                                  : "images/facesmile/ragular-1.jpg")">
                                                        <span class="degrees">@(lessonCount)</span>
                                                    </li>
                                                    weekday = weekday.AddDays(1);
                                                }

                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <ul class="row profile_state list-unstyled">
                                                @if (_model.IsViceManager() || _model.IsManager())
                                                {
                                                    ViewBag.Allotment = 3;
                                                }
                                                else
                                                {
                                                    ViewBag.Allotment = 2;
                                                }
                                                @{ Html.RenderPartial("~/Views/ConsoleHome/Module/AboutEditableLessons.cshtml", _model);}

                                                @{ Html.RenderPartial("~/Views/ConsoleHome/Module/AboutLearnerUncheckedLessons.cshtml", _model);}

                                                @if (_model.IsViceManager() || _model.IsManager())
                                                {
                                                    Html.RenderPartial("~/Views/ConsoleHome/Module/AboutToApprovePreferredLessons.cshtml", _model);
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!--我的合約與收款卡片-->
    <div class="container-fluid">
        <h4 class="card-outbound-header">我的合約與收款</h4>
        <div class="card widget_2">
            <ul class="row clearfix list-unstyled m-b-0">
                <li class="col-lg-4 col-md-6 col-sm-12 contract">
                    @{ Html.RenderPartial("~/Views/ContractConsole/Module/AboutExpiring.cshtml", _model);}
                </li>
                @if (!_model.IsServitor())
                {
                <li class="col-lg-4 col-md-6 col-sm-12 contract">
                    @{ Html.RenderPartial("~/Views/ContractConsole/Module/AboutAutoTermination.cshtml", _model);}
                </li>
                }
                <li class="col-lg-4 col-md-6 col-sm-12 contract">
                    @{ Html.RenderPartial("~/Views/ContractConsole/Module/AboutPayment.cshtml", _model);}
                </li>
                @if (!_model.IsServitor())
                {
                <li class="col-lg-4 col-md-6 col-sm-12 contract">
                    @{ Html.RenderPartial("~/Views/ContractConsole/Module/AboutNewContracts.cshtml", _model);}
                </li>
                <li class="col-lg-4 col-md-6 col-sm-12 contract">
                    @{ Html.RenderPartial("~/Views/ContractConsole/Module/AboutContractServices.cshtml", _model);}

                </li>
                }
                <li class="col-lg-4 col-md-6 col-sm-12 payment">
                    @{ Html.RenderPartial("~/Views/PaymentConsole/Module/AboutTodayPayment.cshtml", _model);}
                </li>
            </ul>
            <script>
                $(function () {
                    $('li.contract').on('click', function (event) {
                        window.location.href = '@Html.Raw(Url.Action("ContractIndex", "ConsoleHome", new { ScrollToView = false }))';
                    });
                });
                $(function () {
                    $('li.payment').on('click', function (event) {
                        window.location.href = '@Html.Raw(Url.Action("PaymentIndex", "ConsoleHome", new { ScrollToView = false }))';
                    });
                });
            </script>
        </div>
    </div>
    <!--我的學生-->
    @if (_model.IsCoach())
    {
        Html.RenderPartial("~/Views/ConsoleHome/Module/AboutLearners_1.cshtml", _model);
    }
    <!--我的分店業績卡片-->
    @{
        Html.RenderPartial("~/Views/ConsoleHome/Module/AboutAchievementC3.cshtml", _model);
    }
    <!--我的業績&我的比賽-->
    @if (_model.IsCoach())
    {
        Html.RenderPartial("~/Views/ConsoleHome/Module/AboutCoach.cshtml", _model);
    }
    <!--我的發票卡片-->
    @if (_model.IsAssistant() || _model.IsAuthorizedSysAdmin())
    {
        Html.RenderPartial("~/Views/ConsoleHome/Module/AboutInvoice.cshtml", _model);
    }
    <!--專業文章&我的比賽-->
    @if (_model.IsAssistant() || _model.IsAuthorizedSysAdmin() || _model.IsServitor())
    {
        Html.RenderPartial("~/Views/ConsoleHome/Module/AboutStaff.cshtml", _model);
    }
</section>

@section TailPageJavaScriptInclude {
    <!-- countTo Plugin Js -->
    <script src="bundles/countTo.bundle.js"></script>
    <!--ChartJS Plugin Js-->
    <script src="bundles/chartscripts.bundle.js"></script>
    <!-- royalslider Plugin Js-->
    <script src="plugins/royalslider/jquery.royalslider.min.js" class="rs-file"></script>
    <!-- ChartC3 Js -->
    <script src="bundles/cs.bundles.js"></script>

    <script>

        $(function () {

            $('.counto').countTo();

        });

        //本月運動時間卡片
        $(".exerciserank").on('click', function (event) {
            window.location.href = '@Html.Raw(Url.Action("ExerciseBillboard","ConsoleHome"))';
        });
        

        function showContractList(viewModel, alertCount) {
            var event = window.event;
            if (event) {
                event.cancelBubble = true;
            }

            if (alertCount == 0) {
                viewModel.scrollToView = false;
            } else {
                viewModel.scrollToView = true;
            }
            if (alertCount && alertCount > 300) {
                swal({
                    title: "繼續載入?",
                    text: "讀取大量資料，將影響系統效能!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "確定, 不後悔",
                    cancelButtonText: "不, 點錯了",
                    closeOnConfirm: true,
                    closeOnCancel: true,
                }, function (isConfirm) {
                    if (isConfirm) {
                        showLoading();
                        $('').launchDownload('@Html.Raw(Url.Action("ShowContractList","ContractConsole"))', viewModel);
                    } else {
                    }
                });
            } else {
                showLoading();
                $('').launchDownload('@Html.Raw(Url.Action("ShowContractList","ContractConsole"))', viewModel);
            }
        }

    </script>
}


