

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json
@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;
    CourseContract _item;
    UserProfile _model;
    CourseContractQueryViewModel _viewModel;

    Layout = "~/Views/ConsoleHome/Template/MainPage.cshtml";

    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    _model = (UserProfile)this.Model;
    _viewModel = (CourseContractQueryViewModel)ViewBag.ViewModel;
    _item = (CourseContract)ViewBag.DataItem;
    if (_item.Status < (int)Naming.ContractServiceStatus.待簽名)
    {
        ViewBag.ContractAgent = _model;
    }
}
@section CustomHeader {
    <!-- jSignature -->
    <link rel="stylesheet" href="css/jsignature.css">
}

<script>
        $(function () {
            $global.viewModel = @Html.Raw(JsonConvert.SerializeObject(_viewModel));

            for (var i = 0; i < $global.onReady.length; i++) {
                $global.onReady[i]();
            }
        });
</script>
<!-- Main Content -->
<section class="content">
    @{ ViewBag.BlockHeader = _item.Status == (int)Naming.CourseContractStatus.待簽名 ? "學生簽名" : "主管審核";
        ViewBag.InsertPartial = "~/Views/ConsoleHome/Shared/MyContractHeader.cshtml";
        Html.RenderPartial("~/Views/ConsoleHome/Module/BlockHeader.cshtml", _model);
        }

    <div class="container-fluid">
        <div class="card">
            <div class="body">
                @{ var revision = _item.CourseContractRevision;}
                @if (revision.Reason == "展延")
                {
                    Html.RenderPartial("~/Views/ContractConsole/ContractService/CourseContractExtensionView.cshtml", revision);
                }
                else if (revision.Reason == "終止")
                {
                    if (revision.OperationMode == (int)Naming.OperationMode.快速終止)
                    {
                        Html.RenderPartial("~/Views/ContractConsole/ContractService/CourseContractQuickTerminationView.cshtml", revision);
                    }
                    else
                    {
                        Html.RenderPartial("~/Views/ContractConsole/ContractService/CourseContractTerminationView.cshtml", revision);
                    }
                }
                else if (revision.Reason == "轉換體能顧問")
                {
                    Html.RenderPartial("~/Views/ContractConsole/ContractService/ContractConsultantReassignmentView.cshtml", revision);
                }
                else if (revision.Reason == "其他")
                {
                    Html.RenderPartial("~/Views/ContractConsole/ContractService/CourseContractOtherAmendmentView.cshtml", revision);
                }
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-danger btn-round btn-simple btn-round waves-effect waves-red reedit" onclick="rejectContractService();">內容錯誤，刪除申請</button>
                        @if (_item.Status == (int)Naming.CourseContractStatus.待簽名)
                        {
                            <button type="button" class="btn btn-darkteal btn-round waves-effect float-right next" onclick="confirmSignature();">確定，不後悔</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-darkteal btn-round waves-effect float-right next" onclick="approveContractService();">確定，審核通過</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
        var done = false;
        function signaturePanel(contractID, uid, signatureName) {
            if (done)
                return;
            var event = event || window.event;
            var $signatureImage = $(event.target);
            $global.commitSignature = function (sigData) {
                $signatureImage[0].src = sigData;
            };
            //showLoading();
            $.post('@Html.Raw(Url.Action("SignaturePanel","ContractConsole"))', { 'contractID': contractID, 'uid': uid, 'signatureName': signatureName }, function (data) {
                //hideLoading();
                $(data).appendTo($('body'));
            });
        }

        function confirmSignature() {
            showLoading();
            $.post('@Html.Raw(Url.Action("ConfirmContractServiceSignature","ContractConsole",new { KeyID = _item.ContractID.EncryptKey() }))',
                {
                    'Extension': $('input[name="extension"]').is(':checked'),
                    'Booking': $('input[name="booking"]').is(':checked'),
                    'Cancel': $('input[name="cancel"]').is(':checked'),
                }, function (data) {
                    hideLoading();
                    if ($.isPlainObject(data)) {
                        swal(data.message);
                    }
                    else {
                        $(data).appendTo($('body'));
                    }
                });
        }

        function approveContractService() {
            showLoading();
            $.post('@Html.Raw(Url.Action(revision.Reason=="轉換體能顧問" || revision.OperationMode==(int)Naming.OperationMode.快速終止
                        ? "EnableContractAmendment"
                        : "ExecuteContractStatus","ContractConsole",
                            new
                            {
                                KeyID = _item.ContractID.EncryptKey(),
                                Status = revision.Reason == "轉換體能顧問" || revision.OperationMode == (int)Naming.OperationMode.快速終止
                                    ? (int)Naming.CourseContractStatus.已生效
                                    : (int)Naming.CourseContractStatus.待簽名,
                                FromStatus = _item.Status,
                            }))', {}, function (data) {
                hideLoading();
                if ($.isPlainObject(data)) {
                    swal(data.message);
                }
                else {
                    $(data).appendTo($('body'));
                }
            });
        }

        function rejectContractService() {
            showLoading();
            $.post('@Html.Raw(Url.Action("DeleteCourseContract","CourseContract",new { _item.ContractID }))', {}, function (data) {
                hideLoading();
                if ($.isPlainObject(data)) {
                    window.location.href = '@Html.Raw(Url.Action("ContractIndex","ConsoleHome"))';
                }
                else {
                    $(data).appendTo($('body'));
                }
            });
        }//
</script>

@section TailPageJavaScriptInclude {
    <!--Sparkline Plugin Js-->
    <script src="plugins/jquery-sparkline/jquery.sparkline.js"></script>
    <!-- SweetAlert Plugin Js -->
    <script src="plugins/sweetalert/sweetalert.min.js"></script>
    <!-- Jquery DataTable Plugin Js -->
    <script src="bundles/datatablescripts.bundle.js"></script>
    <script src="plugins/jquery-datatable/Responsive-2.2.2/js/dataTables.responsive.min.js"></script>
    <script src="plugins/jquery-datatable/FixedColumns-3.2.5/js/dataTables.fixedColumns.min.js"></script>
    <!-- Bootstrap datetimepicker Plugin Js -->
    @*<script src="plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
        <script src="plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-TW.js"></script>*@
    <script src="plugins/smartcalendar/js/bootstrap-datetimepicker.min.js"></script>
    <script src="plugins/smartcalendar/js/locales-datetimepicker/bootstrap-datetimepicker.zh-TW.js"></script>

    @{ Html.RenderPartial("~/Views/ConsoleHome/Shared/KnobJS.cshtml");}


    @{ String basePath = VirtualPathUtility.ToAbsolute("~/");}

    <script src="@(basePath + "js/plugin/jSignature/jSignature.js")"></script>
    <script src="@(basePath + "js/plugin/jSignature/plugins/jSignature.CompressorBase30.js")"></script>
    <script src="@(basePath + "js/plugin/jSignature/plugins/jSignature.CompressorSVG.js")"></script>
    <script src="@(basePath + "js/plugin/jSignature/plugins/jSignature.UndoButton.js")"></script>
    <script src="@(basePath + "js/plugin/jSignature/plugins/signhere/jSignature.SignHere.js")"></script>

    <script type="text/javascript">

    </script>
}


