
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json
@{
    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    MonthlyIndicator _model;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _model = (MonthlyIndicator)this.Model;
}
@{
    String _viewID = $"csl{DateTime.Now.Ticks}";
    MonthlyIndicatorQueryViewModel _viewModel = (MonthlyIndicatorQueryViewModel)ViewBag.ViewModel;
}
@{
    dynamic indicator;
    if (_viewModel.BranchID.HasValue)
    {
        indicator = (MonthlyBranchRevenueGoal)TempData["RevenueGoal"];
    }
    else
    {
        indicator = (MonthlyRevenueGoal)TempData["RevenueGoal"];
    }

    decimal totalCount = Math.Max(((int?)indicator.NewContractSubtotal + (int?)indicator.RenewContractSubtotal) ?? 1, 1);
}
@if (totalCount > 1)
{
    <div class="sparkline-pie m-t-20" id="@(_viewID)">@(Math.Round((indicator.NewContractSubtotal ?? 0) * 100M / totalCount, 1)), @(Math.Round((indicator.RenewContractSubtotal ?? 0) * 100M / totalCount, 1))</div>
}
else
{
    <div class="pie">
        <div class="pie_light small">
            <br />目前沒有<br />
            <span>相關合約張數</span>
        </div>
    </div>
}
    <p class="m-t-20">
        <i class="zmdi livicon-evo" data-options="name: morph-checkbox-4.svg; size: 30px; style: filled; strokeStyle:round; fillColor:#64c8c0; strokeColor:#64c8c0; strokeWidth:2px; autoPlay:true;"></i> 新單 @(Math.Round((indicator.NewContractSubtotal ?? 0) * 100M / totalCount, 1))% <br />
        <i class="zmdi livicon-evo" data-options="name: morph-checkbox-4.svg; size: 30px; style: filled; strokeStyle:round; fillColor:#1B2C48; strokeColor:#1B2C48; strokeWidth:2px; autoPlay:true;"></i> 續約 @(Math.Round((indicator.RenewContractSubtotal ?? 0) * 100M / totalCount, 1))%
    </p>
<script>
    $(function () {
        //收款業績與上課業績比例
        $('#@(_viewID)').sparkline('html', {
            type: 'pie',
            offset: 90,
            width: '100px',
            height: '100px',
            sliceColors: ['#64c8c0', '#1B2C48']
        });
    });
</script>
