
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@{
    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    MonthlyIndicator _model;
    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _model = (MonthlyIndicator)this.Model;
}
@{
    String _viewID = $"turn{DateTime.Now.Ticks}";
    MonthlyIndicatorQueryViewModel _viewModel = (MonthlyIndicatorQueryViewModel)ViewBag.ViewModel;
}
@{
    //dynamic indicator;
    //if (_viewModel.BranchID.HasValue)
    //{
    //    indicator = (MonthlyBranchRevenueGoal)TempData["RevenueGoal"];
    //}
    //else
    //{
    //    indicator = (MonthlyRevenueGoal)TempData["RevenueGoal"];
    //}

    decimal totalCount = 0; // Math.Max(((int?)indicator.NewContractSubtotal + (int?)indicator.RenewContractSubtotal) ?? 1, 1);

}
@if (totalCount > 1)
{
    @*<div class="sparkline-pie m-t-20" id="@(_viewID)">@(Math.Round((indicator.NewContractSubtotal ?? 0) * 100M / totalCount, 1)), @(Math.Round((indicator.RenewContractSubtotal ?? 0) * 100M / totalCount, 1))</div>*@
}
else
{
    <div class="pie">
        <div class="pie_light small">
            <br />BR TS簽單率<br />
            <span>敬請期待</span>
        </div>
    </div>
}
    <p class="m-t-20">
        @*<i class="zmdi livicon-evo" data-options="name: morph-checkbox-4.svg; size: 30px; style: filled; strokeStyle:round; fillColor:#F6F5F1; strokeColor:#E4C04E; strokeWidth:2px; autoPlay:true;"></i> 新單 @(Math.Round((indicator.NewContractSubtotal ?? 0) * 100M / totalCount, 1))% <br />
        <i class="zmdi livicon-evo" data-options="name: morph-checkbox-4.svg; size: 30px; style: filled; strokeStyle:round; fillColor:#F6F5F1; strokeColor:#729DBD; strokeWidth:2px; autoPlay:true;"></i> 續約 @(Math.Round((indicator.RenewContractSubtotal ?? 0) * 100M / totalCount, 1))%*@
    </p>
<script>
    $(function () {
        //收款業績與上課業績比例
        $('#@(_viewID)').sparkline('html', {
            type: 'pie',
            offset: 90,
            width: '100px',
            height: '100px',
            sliceColors: ['#E4C04E', '#729DBD']
        });
    });
</script>
