@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    TrainingItem _model;

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _model = (TrainingItem)this.Model;
    TrainingItemViewModel _viewModel = (TrainingItemViewModel)ViewBag.ViewModel;
    String _dialogID = $"editItem{DateTime.Now.Ticks}";
    TrainingStage _stage = (TrainingStage)ViewBag.TrainingStage;
}
<div class="modal fade" id="@(_dialogID)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a class="closebutton" data-dismiss="modal"></a>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-12">
                        <div class="card">
                            <div class="header p-b-5">
                                <ul class="nav nav-tabs p-t-0">
                                    @if (_viewModel.ItemMode != Naming.TrainingItemMode.ForBreakInterval)
                                    {
                                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#@(_dialogID)action">@(_stage.Stage)</a></li>
                                    }
                                    @if (_viewModel.ItemMode != Naming.TrainingItemMode.ForTrainingItem)
                                    {
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#@(_dialogID)reset">休息/組數</a></li>
                                    }
                                </ul>
                            </div>
                            <div class="body">
                                <div class="tab-content">
                                    @if (_viewModel.ItemMode != Naming.TrainingItemMode.ForBreakInterval)
                                    {
                                        <div class="tab-pane active" id="@(_dialogID)action">
                                            @{
                                                ViewBag.DialogID = _dialogID;
                                                Html.RenderPartial("~/Views/LearnerProfile/ProfileModal/EditTrainingItemView.cshtml", _model);
                                            }
                                        </div>
                                    }
                                    @if (_viewModel.ItemMode != Naming.TrainingItemMode.ForTrainingItem)
                                    {
                                        <div class="tab-pane" id="@(_dialogID)reset">
                                            @{
                                                ViewBag.DialogID = _dialogID;
                                                Html.RenderPartial("~/Views/LearnerProfile/ProfileModal/EditBreakIntervalView.cshtml", _model);
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{ Html.RenderPartial("~/Views/ConsoleHome/Shared/BSModalScript.cshtml", model: _dialogID);}

    <script>
        $(function () {

            var u = navigator.userAgent;
            var isApple = u.indexOf('iPhone') >= 0 || u.indexOf('iPad') >= 0;

            if (isApple) {
                $('#@(_dialogID)').on('hidden.bs.modal', function () {
                    scrollToStage($global.$stage);
                });
            }

            $('#@(_dialogID)action button.btnConfirm').on('click', function (element) {
                clearErrors();
                var $formData = $('#@(_dialogID)').find('input,select,textarea').serializeObject();
                $formData.ItemID = $global.viewModel.ItemID;
                $formData.ExecutionID = $global.viewModel.ExecutionID;
                $formData.StageID = $global.viewModel.StageID;
                if (!$('input[name="PurposeID"]').is(':checked')) {
                    delete $formData.PurposeID;
                }
                showLoading();
                $.post('@Html.Raw(Url.Action("CommitTrainingItem", "Training"))', $formData, function (data) {
                    if ($.isPlainObject(data)) {
                        if (data.result) {
                            $('#@(_dialogID)').modal('hide');
                            refreshTrainingExecution(data.StageID);
                        } else {
                            hideLoading();
                            swal(data.message);
                        }
                    } else {
                        hideLoading();
                        $(data).appendTo($('body'));
                    }
                });
            });

            $('#@(_dialogID)reset button.btnConfirm').on('click', function (element) {
                clearErrors();
                var $formData = $('#@(_dialogID)').find('input,select,textarea').serializeObject();
                $formData.ItemID = $global.viewModel.ItemID;
                $formData.ExecutionID = $global.viewModel.ExecutionID;
                $formData.StageID = $global.viewModel.StageID;
                showLoading();
                $.post('@Html.Raw(Url.Action("CommitBreakInterval", "Training"))', $formData, function (data) {
                    if ($.isPlainObject(data)) {
                        if (data.result) {
                            $('#@(_dialogID)').modal('hide');
                            refreshTrainingExecution(data.StageID);;
                        } else {
                            hideLoading();
                            swal(data.message);
                        }
                    } else {
                        $(data).appendTo($('body'));
                    }
                });
            });

        });
    </script>
    @if (_model != null)
    {
        <script>
            $(function () {
                $('#@(_dialogID)action button.btnDelete').on('click', function () {
                    swal({
                        title: "確定刪除此項目?",
                        text: "課表",
                        //type: "successful",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "確定, 不後悔",
                        cancelButtonText: "不, 點錯了",
                        closeOnConfirm: true,
                        closeOnCancel: true,
                    }, function (isConfirm) {
                        if (isConfirm) {
                            showLoading();
                            $.post('@Html.Raw(Url.Action("DeleteTrainingItem", "Training", new {_viewModel.StageID, _viewModel.ItemID }))', {}, function (data) {
                                hideLoading();
                                if ($.isPlainObject(data)) {
                                    if (data.result) {
                                        $('#@(_dialogID)').modal('hide');
                                        refreshTrainingExecution(data.StageID);
                                    } else {
                                        swal(data.message);
                                    }
                                } else {
                                    $(data).appendTo($('body'));
                                }
                            });
                        }
                    });
                });
            });
            $('#@(_dialogID)reset button.btnDelete').on('click', function () {
                swal({
                    title: "確定刪除此項目?",
                    text: "課表",
                    //type: "successful",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "確定, 不後悔",
                    cancelButtonText: "不, 點錯了",
                    closeOnConfirm: true,
                    closeOnCancel: true,
                }, function (isConfirm) {
                    if (isConfirm) {
                        showLoading();
                        $.post('@Html.Raw(Url.Action("DeleteTrainingItem", "Training", new {_viewModel.StageID, _viewModel.ItemID }))', {}, function (data) {
                            hideLoading();
                            if ($.isPlainObject(data)) {
                                if (data.result) {
                                    $('#@(_dialogID)').modal('hide');
                                    refreshTrainingExecution(data.StageID);
                                } else {
                                    swal(data.message);
                                }
                            } else {
                                $(data).appendTo($('body'));
                            }
                        });
                    }
                });
            });
        </script>
    }
</div>