@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    TrainingItem _model;

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _model = (TrainingItem)this.Model;
    TrainingItemViewModel _viewModel = (TrainingItemViewModel)ViewBag.ViewModel;
    String _dialogID = $"editItem{DateTime.Now.Ticks}";
    TrainingStage _stage = (TrainingStage)ViewBag.TrainingStage;
}
<div class="modal fade" id="@(_dialogID)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a class="closebutton" data-dismiss="modal"></a>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong>動作資料</strong></h2>
                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-12">
                                        <select name="TrainingID" class="form-control show-tick">
                                            <option value="">- 請選擇類別 -</option>
                                            @foreach (var item in models.GetTable<TrainingStageItem>().Where(t => t.StageID == _stage.StageID)
                                                    .Select(t => t.TrainingType)
                                                    .Where(t => !t.BreakMark.HasValue || t.BreakMark == false)
                                                    .Where(t => t.TrainingID >= 8)
                                                    .OrderByDescending(t => t.OrderIndex))
                                            {
                                                <option value="@item.TrainingID">@item.BodyParts</option>
                                            }
                                        </select>
                                        <script>
                                            $(function () {
                                                $('#@(_dialogID) select[name="TrainingID"]').val('@_viewModel.TrainingID');
                                            });
                                        </script>
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <div class="input-group">
                                            <input type="text" name="Description" class="form-control form-control-danger" placeholder="動作" value="@_viewModel.Description"/>
                                            <span class="input-group-addon">
                                                <i class="zmdi zmdi-run"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-12 p-b-10">
                                        <script>
                                            $(function () {
                                                $global.viewModel = @(Html.Raw(JsonConvert.SerializeObject(_viewModel)));
                                            });
                                        </script>
                                        @{ 
                                            Html.RenderPartial("~/Views/LearnerProfile/Module/TrainingAids.cshtml",_model);
                                        }
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="強度" name="GoalStrength" value="@_viewModel.GoalStrength" />
                                            <span class="input-group-addon">
                                                <i class="zmdi zmdi-plus-2"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="次數" value="@_viewModel.GoalTurns" name="GoalTurns" />
                                            <span class="input-group-addon">
                                                <i class="zmdi zmdi-collection-item-9-plus"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-danger" placeholder="時間" value="@_viewModel.DurationInSeconds" name="DurationInSeconds" />
                                            <span class="input-group-addon">
                                                <i class="zmdi zmdi-sec-10"></i>
                                            </span>
                                        </div>
                                        <label class="material-icons help-error-text">clear 請輸入時間</label>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea rows="4" class="form-control no-resize" placeholder="其他更多說明" name="Remark">@_viewModel.Remark</textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="checkbox">
                                            <input id="Mildstone" value="Y" type="checkbox" />
                                            <label for="Mildstone">自動加入里程碑</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-darkteal btn-round waves-effect"><i class="zmdi zmdi-edit"></i></button>
                <button type="button" class="btn btn-danger btn-round btn-simple btn-round waves-effect waves-red swal-delete"><i class="zmdi zmdi-delete"></i></button>
            </div>
        </div>
    </div>
    @{ Html.RenderPartial("~/Views/ConsoleHome/Shared/BSModalScript.cshtml", model: _dialogID);}

    <script>
        $(function () {
            $('.date').datetimepicker({
                language: 'zh-TW',
                weekStart: 1,
                todayBtn: 1,
                clearBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                defaultView: 2,
                forceParse: 0,
                defaultDate: '@(String.Format("{0:yyyy-MM-dd}",DateTime.Today))',
            });

            var viewModel = @Html.Raw(JsonConvert.SerializeObject(_viewModel));
            $('#@(_dialogID) button').on('click', function (event) {
                var $formData = $('#@(_dialogID) form').serializeObject();
                $global.queryCallback = function () {
                    $global.closeAllModal();
                };
                showContractList($.extend({}, viewModel, $formData), -1);
            });
        });
    </script>
</div>