@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    TrainingItem _model;

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _model = (TrainingItem)this.Model;
    TrainingItemViewModel _viewModel = (TrainingItemViewModel)ViewBag.ViewModel;
    String _dialogID = $"editItem{DateTime.Now.Ticks}";
    TrainingStage _stage = (TrainingStage)ViewBag.TrainingStage;
}
<div class="modal fade" id="@(_dialogID)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a class="closebutton" data-dismiss="modal"></a>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong>休息/組數資料</strong></h2>
                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-danger" placeholder="休息時間" value="@_viewModel.BreakInterval" name="BreakInterval" />
                                            <span class="input-group-addon">
                                                <i class="zmdi zmdi-sec-10"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="組數" value="@(_viewModel.Repeats ?? "1")" name="Repeats" />
                                            <span class="input-group-addon">
                                                <i class="zmdi zmdi-collection-item-3"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea rows="4" class="form-control no-resize" placeholder="其他更多說明" name="Remark">@(_viewModel.Remark)</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-darkteal btn-round waves-effect btnConfirm"><i class="zmdi zmdi-edit"></i></button>
                <button type="button" class="btn btn-danger btn-round btn-simple btn-round waves-effect waves-red swal-delete btnDelete"><i class="zmdi zmdi-delete"></i></button>
            </div>
        </div>
    </div>
    @{ Html.RenderPartial("~/Views/ConsoleHome/Shared/BSModalScript.cshtml", model: _dialogID);}

    <script>
        $(function () {

            $global.viewModel = @(Html.Raw(JsonConvert.SerializeObject(_viewModel)));

            $('#@(_dialogID) button.btnConfirm').on('click', function (element) {
                clearErrors();
                var $formData = $('#@(_dialogID)').find('input,select,textarea').serializeObject();
                $formData.ItemID = $global.viewModel.ItemID;
                $formData.ExecutionID = $global.viewModel.ExecutionID;
                $formData.StageID = $global.viewModel.StageID;
                showLoading();
                $.post('@Html.Raw(Url.Action("CommitBreakInterval", "Training"))', $formData, function (data) {
                    if ($.isPlainObject(data)) {
                        if (data.result) {
                            refreshTrainingContent();
                        } else {
                            hideLoading();
                            swal(data.message);
                        }
                    } else {
                        hideLoading();
                        $(data).appendTo($('body'));
                    }
                });
            });
        });
    </script>
    @if (_model != null)
    {
        <script>
            $(function () {
                $('#@(_dialogID) button.btnDelete').on('click', function () {
                    swal({
                        title: "確定刪除此項目?",
                        text: "課表",
                        //type: "successful",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "確定, 不後悔",
                        cancelButtonText: "不, 點錯了",
                        closeOnConfirm: true,
                        closeOnCancel: true,
                    }, function (isConfirm) {
                        if (isConfirm) {
                            showLoading();
                            $.post('@Html.Raw(Url.Action("DeleteTrainingItem", "Training", new {_viewModel.StageID, _viewModel.ItemID }))', {}, function (data) {
                                hideLoading();
                                if ($.isPlainObject(data)) {
                                    if (data.result) {
                                        refreshTrainingContent();
                                    } else {
                                        swal(data.message);
                                    }
                                } else {
                                    $(data).appendTo($('body'));
                                }
                            });
                        }
                    });
                });
            });
        </script>
    }
</div>