@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@{
    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;

    String _chartID = ViewBag.ChartID as String ?? $"myChart{DateTime.Now.Ticks}";

    bool init = (bool?)ViewContext.HttpContext.Items["InitEcharts"] ?? true;
    if (init)
    {
        ViewContext.HttpContext.Items["InitEcharts"] = false;
    }

}
<div id="@(_chartID)" class="echarts"></div>
@if (init)
{
    <script>
        if ($global.echarts === undefined) {
            $global.echarts = {
                myChart: {},
                showChart: {},
                option: {},
                useStyle: {},
                'selectStyle': function(defaultStyle) {
                    if (defaultStyle == '') {
                        return null;
                    }

                    var style;
                    if ($global.currentTheme == 'theme-nero') {
                        style = 'macarons_nero';
                    } else {
                        style = 'macarons';
                    }
                    return style;
                }
            };

            $global.onChangeTheme = function() { };

            $global.echarts.initializeChart = function(chartID, style) {

                $global.echarts.useStyle[chartID] = style;

                $global.echarts.showChart[chartID] = function() {
                    // 基於準備好的dom，初始化echarts例項
                    if ($global.echarts.myChart[chartID] != null) {
                        $global.echarts.myChart[chartID].dispose();
                    }

                    $global.echarts.myChart[chartID] = echarts.init(document.getElementById(chartID), $global.echarts.selectStyle($global.echarts.useStyle[chartID]), { height: 400, /*width: 662,*/ locale: "EN", renderer: "canvas", useDirtyRect: false });

                    // 使用剛指定的配置項和資料顯示圖表。
                    $global.echarts.myChart[chartID].setOption($global.echarts.option[chartID]);

                };

                var tmp = $global.onChangeTheme;
                $global.onChangeTheme = function() {
                    tmp();
                    $global.echarts.showChart[chartID]();
                }
            };

            $global.echarts.displayChart = function(chartID) {
                if ($global.echarts.showChart[chartID] === undefined) {
                    $global.echarts.initializeChart(chartID);
                }
                $global.echarts.showChart[chartID]();
            };
        }
    </script>

}

<script>

    $(function() {
        $global.echarts.initializeChart('@(_chartID)', @Html.Raw(ViewBag.UseStyle!=null ? $"'{ViewBag.useStyle}'" : "null"));
    });

</script>

@RenderSection("ChartOption", true)

<script>
    $(function() {

        $global.echarts.showChart['@(_chartID)']();

        setTimeout(function() {
            if ($global.echarts.myChart['@(_chartID)'] != null) {
                $global.echarts.myChart['@(_chartID)'].resize();
            }
        }, 500);

        var tmp = window.onresize || function() { };
        window.onresize = function() {
            tmp();
            $global.echarts.myChart['@(_chartID)'].resize();
        };

    });
</script>

