

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;

    Layout = "~/Views/MainActivity/Template/BlogPage.cshtml";

}

@section CustomHeader {

}

<!-- Main Content -->
<section class="section-blog dark">
    <div class="container">
        <span class="mode">
            <a href="javascript:bindTrackingCode('圖文分類', '@(Url.Action("BlogGrid"))', null)"><i class="fas fa-th-large"></i></a>
        </span>
        <ul class="list-group list-group-flush">
            @foreach (var item in models.GetTable<BlogCategoryDefinition>())
            {
                <li class="list-group-item">
                    <div class="media mleft">
                        <div class="media-left">
                            <a href="javascript:bindTrackingCode('@($"文章列表_{ item.Category}")', '@(Url.Action("BlogArticleList","MainActivity",new { item.CategoryID }))', null)">
                                <img class="blog-img" src="@(item.CategoryIndication)">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <a href="javascript:bindTrackingCode('@($"文章列表_{ item.Category}")', '@(Url.Action("BlogArticleList","MainActivity",new { item.CategoryID }))', null)">
                                    @(item.Category)
                                </a>
                            </h4>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>

@section TailPageJavaScriptInclude {

}