
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using WebHome.Properties
@using WebHome.Helper.BusinessOperation
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    CourseContract _model;
    CourseContractMember _owner;
    DateTime? _signatureDate;

    CourseContractViewModel _viewModel = (CourseContractViewModel)ViewBag.ViewModel;

    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _model = (CourseContract)this.Model;
    _owner = _model.CourseContractMember.Where(m => m.UID == _model.OwnerID).First();
    var item = _model.CourseContractLevel.Where(l => l.LevelID == (int)Naming.CourseContractStatus.待審核).FirstOrDefault();
    if (item != null)
    {
        _signatureDate = item.LevelDate;
    }
    else
    {
        _signatureDate = DateTime.Now;
    }
}
<!--服務購買合約書-->

<div class="row">
    <div class="col-md-12" style="@(_viewModel.Pdf=="1" ? "margin:0;padding:0;" : "")">
        <h4 class="text-center" style="@(_viewModel.Pdf=="1" ? "margin:0;padding:0;" : "")"><b>Beyond Fitness 產品及服務購買合約書</b></h4>
            <table class="table" style="@(_viewModel.Pdf=="1" ? "margin:0;padding:0;" : "")">
                <tbody>
                    @if (_model.ContractNo != null)
                    {
                        <tr>
                            <td colspan="3">合約編號：@(_model.ContractNo())</td>
                        </tr>
                    }
                    <tr style="border-width: 1px; border-top-style: dashed;background-color: #f2f2f2;">
                        <td colspan="3"><b>學員資料</b></td>
                    </tr>
                    @{
                        IEnumerable<CourseContractMember> items;
                    }
                    @if (_model.ContractType == (int)CourseContractType.ContractTypeDefinition.CFA
                        || _model.ContractType == (int)CourseContractType.ContractTypeDefinition.CGF
                        || _model.ContractType == (int)CourseContractType.ContractTypeDefinition.CVF)
                    {
                        items = _model.CourseContractMember.Where(m => m.UID == _model.OwnerID);
                    }
                    else
                    {
                        items = _model.CourseContractMember;
                    }
                    @foreach (var m in items)
                    {
                        <tr>
                            <td>姓名：@(m.UserProfile.RealName)</td>
                            <td colspan="2">身份證字號/護照號碼：@(m.UserProfile.UserProfileExtension.IDNo)</td>
                        </tr>
                        <tr>
                            <td>性別：@(m.UserProfile.UserProfileExtension.Gender == "F" ? "女" : "男")</td>
                            <td>出生：@(String.Format("{0:yyyy/MM/dd}", m.UserProfile.Birthday))</td>
                            <td>聯絡電話：@(m.UserProfile.Phone)</td>
                        </tr>
                        <tr>
                            <td>緊急聯絡人姓名：@(m.UserProfile.UserProfileExtension.EmergencyContactPerson)</td>
                            <td>關係：@(m.UserProfile.UserProfileExtension.Relationship)</td>
                            <td>緊急聯絡電話：@(m.UserProfile.UserProfileExtension.EmergencyContactPhone)</td>
                        </tr>
                        <tr>
                            <td colspan="3">地址：@(m.UserProfile.Address())</td>
                        </tr>                        
                    } 
                    <tr style="border-width: 1px; border-top-style: dashed;background-color: #f2f2f2;">
                        <td colspan="3"><b>課程內容</b></td>
                    </tr>
                    <tr>
                    <td>名稱：@(_model.CourseContractType.TypeName)(@(_model.CurrentPrice.DurationInMinutes)分鐘)</td>
                        <td colspan="2">
                            @if (_model.LessonPriceType.BranchStore?.IsVirtualClassroom() == true
                                    || _model.CourseContractType.ForVirtaulClass)
                            {
                                <text>上課場所/簽約分店：遠距/@(_model.CourseContractExtension.BranchStore.BranchName)</text>
                            }
                            else
                            {
                                <text>上課場所：@(_model.CourseContractExtension.BranchStore.BranchName)</text>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table" style="margin:0;padding:0;">
                <tbody>
                    <tr>
                        <td width="100px">購買堂數：</td>
                        <td>
                        @if (_model.ContractType == (int)CourseContractType.ContractTypeDefinition.CGA
                                   || _model.ContractType == (int)CourseContractType.ContractTypeDefinition.CGB
                                   || _model.ContractType == (int)CourseContractType.ContractTypeDefinition.CGC
                                   || _model.ContractType == (int)CourseContractType.ContractTypeDefinition.CGF
                                   || _model.ContractType == (int)CourseContractType.ContractTypeDefinition.CVA
                                   || _model.ContractType == (int)CourseContractType.ContractTypeDefinition.CVB
                                   || _model.ContractType == (int)CourseContractType.ContractTypeDefinition.CVF)
                        {
                                <ol>
                                    <li>共 @(_model.Lessons) 堂。<br />
                                    @Html.Raw(String.Join("<br/>",_model.ExpandContractLessonDetails(models, "● ")))
                                    </li>
                                    <li style="padding: 10px 0;">
                                        除上述購買非加購之堂數外，Beyond Fitness同意於上述非加購之購買堂數以外，另行提供與學員下列課程轉換選擇權。惟若學員選擇轉換後，不得再行換回。<br />
                                        ● 1堂私人教練(P.T)得轉換為2堂運動恢復(S.R) <br />
                                        ● 2堂運動恢復(S.R)得轉換為1堂私人教練(P.T) <br />
                                        ● 2堂私人教練(P.T)得轉換1個月營養諮詢(S.D) <br />
                                        ● 1個月營養諮詢(S.D)得轉換為2堂私人教練(P.T)
                                    </li>
                                    <li style="padding: 10px 0;">前項課程轉換選擇權之轉換方式及內容，Beyond有權於學員顧問服務契約期間存續內隨時調整，惟任何調整，均不會影響學員於第1項內所述之購買堂數。</li>
                                </ol>                                        
                        }
                        else
                        {
                            var orderItem = _model.CourseContractOrder.FirstOrDefault();
                            <text>@(_model.Lessons) 堂(每堂購買單價 @(String.Format("{0:##,###,###,###}", orderItem?.LessonPriceType.ListPrice)) 元)。</text>
                        }                            
                        </td>
                     </tr>
                </tbody>
            </table>
            <table class="table" style="margin:0;padding:0;">
                <tbody>
                    <tr>
                        <td>專業顧問建置與諮詢費：@(String.Format("{0:##,###,###,###}", (_model.TotalCost * 8 + 5) / 10))</td>
                        <td colspan="2">教練課程費：@(String.Format("{0:##,###,###,###}", (_model.TotalCost * 2 + 5) / 10))</td>                        
                    </tr>  
                    <tr>
                        <td colspan="3">專業顧問服務總費用：@(String.Format("{0:##,###,###,###}", _model.TotalCost))</td>
                    </tr>                                      
                    <tr>
                        <td colspan="3">顧問服務使用期限：自 @(String.Format("{0:yyyy/MM/dd}", _model.ValidFrom)) 起，至 @(String.Format("{0:yyyy/MM/dd}", _model.Expiration)) 止。</td>                        
                    </tr>
                    <tr style="border-width: 1px; border-top-style: dashed;background-color: #f2f2f2;">
                        <td colspan="3"><b>繳費內容</b></td>
                    </tr>
                    <tr>
                        <td>繳費方式：@(_model.CourseContractExtension.PaymentMethod)</td>
                        <td>繳費時間：@(_model.PayoffDue.HasValue ? $"躉繳，應於{_model.PayoffDue:yyyy/MM/dd}前繳清" : null) </td>                       
                        <td>
                            @if (_model.CourseContractExtension.AttachmentID.HasValue)
                            {
                                <text>相關證明文件：</text>
                                <u><a href="@Html.Raw($"{WebHome.Startup.Properties["HostDomain"]}{Url.Action("GetResourceWithMime", "Information", new { HKeyID = _model.CourseContractExtension.AttachmentID.Value.EncryptHexKey() })}")" target="_blank">開啟附件</a>。</u>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="height: 1.5cm">                                                        
                            @if (_model.Status == (int)Naming.CourseContractStatus.待審核)
                            {
                                <text>備註：@(_model.Remark)</text>
                                if(_model.Remark !=null)
                                {
                                    <br/>
                                }
                                <text>@(CourseContractExtension.PriceAdjustment[_model.CourseContractExtension.UnitPriceAdjustmentType??0])</text>
                            }
                            else
                            {
                                if (!String.IsNullOrEmpty(_model.Remark)) {
                                    <text>備註：@(_model.Remark)</text>
                                }
                            }
                        </td>  
                    </tr>        
                </tbody>
            </table>                       
    </div>
</div>
<!--產品及服務特約條款約區塊-->
@if (_model.Status < (int)Naming.CourseContractStatus.待審核 || _viewModel.Pdf == "1")
{
    
    <div class="row">
        <div class="col-md-12" style="@(_viewModel.Pdf=="1" ? "margin:0;padding:0;" : "")">
            @{
                await Html.RenderPartialAsync("~/Views/ContractConsole/Module/ContractTermsFor20220601.cshtml");       
            }
        </div>
    </div>
}

<!--勾選同意與簽名區塊-->
<div class="row">
    <div class="col-md-12" style="@(_viewModel.Pdf=="1" ? "margin:0;padding:0;" : "")">
        @if (_model.Status == (int)Naming.CourseContractStatus.待審核)
        {
@*            if ( _model.CourseContractExtension.SignOnline == true
                || _model.CourseContractExtension.BRByCoach.HasValue
                || _model.CourseContractExtension.BRByLearner.HasValue)
            {
                
            }
*@            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <label class="fancy-checkbox  custom-bgcolor-green">
                                <input type="checkbox" checked="@(_model.CourseContractExtension.SignOnline==true)" disabled="disabled" />
                                <span class="col-green">學生端線上簽名</span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="fancy-checkbox custom-bgcolor-pink">
                                <input type="checkbox" checked="@(_model.Renewal!=true)" disabled="disabled" />
                                <span class="col-pink">新約</span>
                            </label>
                            <label class="fancy-checkbox custom-bgcolor-green">
                                <input type="checkbox" checked="@(_model.Renewal==true)" disabled="disabled" />
                                <span class="col-green">續約</span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="fancy-checkbox custom-bgcolor-pink">
                                <input type="checkbox" checked="@(_model.CourseContractExtension.BRByCoach.HasValue)" disabled="disabled" />
                                <span class="col-pink">教練BR：@(_model.CourseContractExtension.BRCoach?.RealName)</span>
                            </label>
                            <label class="fancy-checkbox custom-bgcolor-pink">
                                <input type="checkbox" checked="@(_model.CourseContractExtension.BRByLearner.HasValue)" disabled="disabled" />
                                <span class="col-pink">學生BR：@(_model.CourseContractExtension.BRLearner?.RealName)</span>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <table class="table" style="@(_viewModel.Pdf=="1" ? "margin:0;padding:0;" : "")">
                <tbody>
                    <tr>
                        @if (_model.Status < (int)Naming.CourseContractStatus.待審核)
                        {
                            <td>
                                <label class="fancy-checkbox custom-bgcolor-pink">
                                    <input type="checkbox" name="booking">
                                    <span>預約/取消：我已閱讀並同意第8條服務預約之規定。</span>
                                </label>
                            </td>
                        } 
                        else if(_viewModel.Pdf == "1")
                        {
                            <td style="padding:0;">
                                        <b style="font-size:20px">☑</b> <b>預約/取消：我已閱讀並同意第8條服務預約之規定。</b>
                            </td>
                        }
                    </tr>
                    <tr>
                        @if (_model.Status < (int)Naming.CourseContractStatus.待審核)
                        {
                            <td>
                                <label class="fancy-checkbox custom-bgcolor-pink">
                                    <input type="checkbox" name="extension">
                                    <span>展延：我已閱讀並同意第9條體能/健康顧問服務期間與一般展延之申請之規定。</span>
                                </label>
                            </td>
                        } 
                        else if (_viewModel.Pdf == "1")
                        {
                            <td style="padding:0;">
                                <b style="font-size:20px">☑</b> <b>展延：我已閱讀並同意第9條體能/健康顧問服務期間與一般展延之申請之規定。</b>
                            </td>
                        }
                    </tr>
                    <tr>
                        @if (_model.Status < (int)Naming.CourseContractStatus.待審核)
                        {
                            <td>
                                <label class="fancy-checkbox custom-bgcolor-pink">
                                    <input type="checkbox" name="Agree" />
                                    <span class="col-red">我已閱讀並同意超越體能顧問有限公司隱私政策、服務條款、相關使用及消費合約，即表示即日起您同意接受本合約正面及背面條款之相關約束及其責任。</span>
                                </label>
                            </td>
                        }
                        else if (_viewModel.Pdf == "1")
                        {
                            <td style="padding:0;">
                                <b style="font-size:20px">☑</b> <b>我已閱讀並同意超越體能顧問有限公司隱私政策、服務條款、相關使用及消費合約，即表示即日起您同意接受本合約正面及背面條款之相關約束及其責任。</b>
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        }
        <table class="table">
            <tr>
                <td class="p-t-0"></td>
                <td class="p-0">Beyond Fitness超越體能顧問有限公司</td>
                @if (_viewModel.Pdf == "1")
                {
                    <td rowspan="3" width="150px" class="p-0 text-right"><img src="images/sign/seal.png" width="150px" /></td>
                }
            </tr>
            <tr>
                <td class="p-t-0">
                    學員簽名：
                    @{
                        ViewBag.SignatureName = "Signature";
                    }
                    @{
                        await Html.RenderPartialAsync("~/Views/ContractConsole/Module/SignHere.cshtml", _owner);
                    }
                </td>
                <td class="p-0">
                    @if (_model.Status >= (int)Naming.CourseContractStatus.待簽名)
                    {
                        <text>主管簽核代表：</text>
                        <img src="@(_model.Status == (int)Naming.CourseContractStatus.待審核 && _viewModel.Pdf != "1"
                                            ? (await Context.GetUserAsync()).LoadInstance(models).UserProfileExtension.Signature
                                            : _model.Supervisor?.UserProfileExtension.Signature)" width="150px" height="50px"
                        class="modifySignDialog_link">
                    }
                </td>
            </tr>
            <tr>
                <td class="p-0">
                    @if (_model.CheckMinorLearner())
                    {
                        <text>家長/監護人簽名：</text>
                        ViewBag.SignatureName = "GuardianSignature";
                        await Html.RenderPartialAsync("~/Views/ContractConsole/Module/SignHere.cshtml", _owner);
                    }
                </td>
                <td class="p-0">簽約體能顧問：<img src="@(_model.ServingCoach.UserProfile.UserProfileExtension.Signature)"
                        width="150px" height="50px" class="modifySignDialog_link"></td>
            </tr>
            <tr>
                <td class="p-0">日期：@(String.Format("{0:yyyy/MM/dd}", _signatureDate))</td>
                <td class="p-0">日期：@(String.Format("{0:yyyy/MM/dd}", _signatureDate))</td>
            </tr>
        </table>
    </div>
</div>
<!--個人資料告知事項暨同意書-->
@if (_model.Status < (int)Naming.CourseContractStatus.待審核 || _viewModel.Pdf == "1")
{
<div class="row" style="@(_viewModel.Pdf=="1" ? "page-break-before:always;" : "")">
    <div class="col-md-12" style="@(_viewModel.Pdf=="1" ? "margin:0;padding:0;" : "")">        
        @{
                await Html.RenderPartialAsync("~/Views/ContractConsole/Module/ContractGDPRAgreementFor20220601.cshtml");       
        }
    </div>
</div>
}
<!--家庭合約/附表學員名單-->
@if (_model.ContractType == (int)CourseContractType.ContractTypeDefinition.CFA
    || _model.ContractType == (int)CourseContractType.ContractTypeDefinition.CGF
    || _model.ContractType == (int)CourseContractType.ContractTypeDefinition.CVF)
{
        <div class="row" style="@(_viewModel.Pdf=="1" ? "page-break-before:always;" : "")">
            <div class="col-md-12" style="@(_viewModel.Pdf=="1" ? "margin:0;padding:0;" : "")">
                <h4 class="text-center" style="@(_viewModel.Pdf=="1" ? "margin:0;padding:0;" : "")"><b>附表-學員名單</b></h4>
                <table class="table">
                    <tr>
                        <td>本人同意並授權以下人員得使用本人與超越體能顧問有限公司購買之體能/健康顧問服務課程，任一人員(含本人)使用體能/健康顧問服務，皆需計入體能顧問服務次數內，並應共同遵守合約及特約條款之規定。</td>
                    </tr>
                </table>
                <table class="table table-bordered">
                    <thead>
                        <th>姓名</th>
                        <th>身分證字號</th>
                        <th>行動電話</th>
                        <th>出生日期</th>
                        <th>性別</th>
                    </thead>
                    <tbody>
                    @foreach (var m in _model.CourseContractMember)
                    {
                            <tr>
                                <td>@(m.UserProfile.RealName)</td>
                                <td>@(m.UserProfile.UserProfileExtension.IDNo)</td>
                                <td>@(m.UserProfile.Phone)</td>
                                <td>@(String.Format("{0:yyyy/MM/dd}", m.UserProfile.Birthday))</td>
                                <td>@(m.UserProfile.UserProfileExtension.Gender == "F" ? "女" : "男")</td>
                            </tr>
                    }
                    </tbody>
                </table>
                <table class="table">
                    <tr>
                        <td class="text-right">
                            簽名：
                        @{
                            ViewBag.SignatureName = "Signature2";
                            await Html.RenderPartialAsync("~/Views/ContractConsole/Module/SignHere.cshtml", _owner);
                        }
                            日期：@(String.Format("{0:yyyy/MM/dd}", _signatureDate))
                        </td>
                    @if (_viewModel.Pdf == "1")
                    {
                            <td class="p-0 text-right" width="150px"><img src="images/sign/seal.png" width="150px" /></td>
                    }
                    </tr>
                </table>
            </div>
        </div>
}