
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json
@using BFConsole.Views.MainActivity.Resources
@section CustomHeader { 
 
}

@section TailPageJavaScriptInclude { 
<!-- // 安心承諾 -->
   <section class="features-btm">
      <div class="container">
         <div class="row">
            <div class="col-md-6 text-center">
               <div class="image wow zoomIn" data-wow-delay=".3s">
                  <img src="images/landing/banner/banner-about.jpg">
               </div>
            </div>
            <div class="col-md-6">
               <h1>@(NamingItem.IndexFeature1)</h1>
               @(NamingItem.Features1Desc)
               <a href="@(Url.Action("BookNow"))" class="btn btn-default btn-round btn-simple">@(NamingItem.BookNow)</a>
            </div>
         </div>
      </div>
   </section>
   <!-- // 安心承諾 -->
   <section class="features-btm white">
      <div class="container">
         <div class="row reverse">
            <div class="col-md-6">
               <h1>@(NamingItem.IndexFeature2)</h1>
               @(NamingItem.Features2Desc)               
            </div>
            <div class="col-md-6 text-center">
               <div class="image wow zoomIn" data-wow-delay=".8s">
                  <img src="images/landing/banner/banner-index.jpg">
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- // 安心承諾 -->
   <section class="features-btm">
      <div class="container">
         <div class="row">
            <div class="col-md-6 text-center">
               <div class="image wow zoomIn" data-wow-delay=".3s">
                  <img src="images/landing/banner/banner-join.jpg">
               </div>
            </div>
            <div class="col-md-6">
               <h1>@(NamingItem.IndexFeature3)</h1>
               @(NamingItem.Features3Desc)
               <a href="@(Url.Action("BookNow"))" class="btn btn-default btn-round btn-simple">@(NamingItem.BookNow)</a>
            </div>
         </div>
      </div>
   </section>
   <!-- // 聯絡我們 -->
   @{ Html.RenderPartial("~/Views/MainActivity/Module/ContactItem.ascx");}
 
}
<script runat="server">
   ModelSource<UserProfile> models;
   ModelStateDictionary _modelState;
   
   protected override void OnInit(EventArgs e)
   {
       base.OnInit(e);
       models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
       _modelState = (ModelStateDictionary)ViewBag.ModelState;
   
   }
   
</script>