

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json
@using BFConsole.Views.MainActivity.Resources

@section CustomHeader { 
 
}

<section class="section-team">
        <div class="container">
            <div class="row">
                <h1 class="align-center">@(NamingItem.TeamTitle)</h1>
                <h2 class="align-center">@(_coachData.branchName)</h2>
            </div>
            <div class="row grid-space-0">
            @foreach (var c in _coachData.coachItems)
                {
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 isotope-item">
                    <div class="image-box text-center">
                        <div class="overlay-container">
                            <img src="@($"images/landing/portfolio/{ c.nickname}/Cover.png")" alt="私人教練">
                            <div class="overlay-top">
                                <div class="text">
                                    <h3>@(c.coachName) <small>@(c.nickname)</small></h3>
                                </div>
                            </div>
                            <div class="overlay-bottom">
                                <div class="links">
                                    <a href='javascript:showDetails(@(JsonConvert.SerializeObject(c)));' class="btn btn-gray-transparent btn-animated btn-sm">@(NamingItem.LearnMore) <i class="pl-10 fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
                <script>
                    function showDetails(coachItem) {
                        $('').launchDownload('@(Url.Action("CoachDetails", "MainActivity"))', coachItem);
                    }
                </script>
            </div>
        </div>
    </section>  
    <!-- 360度照片 -->
    <section class="section-360">
        <div class="container">
            <div class="row clearfix">
                <div class="col-12">
                    <div class="fullwidth-gallery">
                        <img src="@(_coachData.arenaView)" class="reel" data-image="@(_coachData.arenaView)" data-frames="2" data-footage="2" data-revolution="800"/>
                    </div>
                </div>
            </div>
        </div>    
    </section>
    <!-- // 聯絡我們 -->
    @{ Html.RenderPartial("~/Views/MainActivity/Module/ContactItem.ascx");}


@section TailPageJavaScriptInclude { 
<!-- jquery reel -->
    <script src="plugins/jquery-reel/jquery.reel.js"></script>
    <script>
        $(function () {
            reloadPage = function () {
                $('').launchDownload('@(Url.Action("Team", "MainActivity"))', {'branchName':'@(ViewBag.BranchName)'});
            };
        });
    </script> 
}

<script runat="server">

    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;
    CoachData _coachData;

    protected override void OnInit(EventArgs e)
    {
        base.OnInit(e);
        models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
        _modelState = (ModelStateDictionary)ViewBag.ModelState;
        _coachData = (CoachData)this.Model;
    }

</script>
