@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json

@{
    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    String _dialogID = $"reportQuery{DateTime.Now.Ticks}";
    IQueryable<BonusAwardingItem> _items;

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _items = models.GetTable<BonusAwardingItem>()
            .OrderByDescending(a => a.ExchangeableOnline)
            .ThenBy(a => a.PointValue);
}

<div class="modal fade" id="@(_dialogID)" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="" class="closebutton" data-dismiss="modal"></a>
            </div>
            <div class="modal-body file_manager">
                <div class="row clearfix">
                    @foreach(var item in _items)
                    {
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="file">
                                <a href="javascript:void(0);" class="doQuery" data-item="@(item.ItemID)">
                                    <div class="image">
                                        <img src="@(item.SampleUrl!=null ? VirtualPathUtility.ToAbsolute(item.SampleUrl) : null)" class="img-fluid">
                                    </div>
                                    <div class="file-name">
                                        <p class="m-b-5 text-muted">@(item.ItemName)<small class="badge badge-primary float-right">@(item.PointValue)點</small></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @{ Html.RenderPartial("~/Views/ConsoleHome/Shared/BSModalScript.cshtml", model: _dialogID);}

    <script>
        var @(_dialogID) = (function () {
            var _checkInputChain = function (inputData) {
                return true;
            };
            return {
                appendCheck: function (checkInput) {
                    var currentCheck = _checkInputChain;
                    _checkInputChain = function (inputData) {
                        return checkInput(inputData) && currentCheck(inputData);
                    };
                    this._checkInputChain = _checkInputChain;
                },
            };
        })();
        $(function () {
            var queryObject = @(_dialogID);
            $('#@(_dialogID) .doQuery').on('click', function (event) {
                var event = event || window.event;
                var inputData = { 'ItemID': $(event.target).closest('a').attr('data-item') };
                if ($global.doQuery) {
                    if (!queryObject._checkInputChain || queryObject._checkInputChain(inputData)) {
                        $('#@(_dialogID)').modal('hide');
                        $global.doQuery(inputData);
                    }
                }
            });
        });
    </script>
</div>