
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    CoachMonthlySalary _model;
    String _dialogID = $"coachBonus{DateTime.Now.Ticks}";


    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _model = (CoachMonthlySalary)this.Model;
}
@{ 
    CoachBonusViewModel _viewModel = (CoachBonusViewModel)ViewBag.ViewModel;
}
<div class="modal fade" id="@(_dialogID)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title">@(_model.ServingCoach.UserProfile.FullName())</h6>
                <a class="closebutton" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <span>管理獎金</span>
                        <div class="input-group">
                            <input type="text" name="ManagerBonus" class="form-control form-control-danger" placeholder="管理獎金" value="@(_viewModel.ManagerBonus)" />
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-shopping-cart-plus"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <span>特別獎金</span>
                        <div class="input-group">
                            <input type="text" class="form-control form-control-danger" placeholder="特別獎金" name="SpecialBonus" value="@(_viewModel.SpecialBonus)" />
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-money-box"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-darkteal btn-round waves-effect btnConfirm">確定</button>
            </div>
        </div>
    </div>
    @{ await Html.RenderPartialAsync("~/Views/ConsoleHome/Shared/BSModalScript.cshtml", model: _dialogID);}

    <script>
        $(function () {

            $('.btnConfirm').on('click', function (event) {
                var $formData = $('#@(_dialogID) input,select,textarea').serializeObject();
                $formData.keyID = '@(_viewModel.CoachID.Value.EncryptKey())';
                $formData.settlementID = @(_viewModel.SettlementID);
                clearErrors();
                showLoading();
                $.post('@Html.Raw(Url.Action("CommitSingleCoachBonus","BonusCredit"))', $formData, function (data) {
                    if ($.isPlainObject(data)) {
                        if (data.result) {
                            $global.closeAllModal();
                            showCoachBonusList();
                        } else {
                            hideLoading();
                            Swal.fire(
                                'Oops...',
                                data.message,
                                'warning'
                            );
                        }
                    } else {
                        hideLoading();
                        $(data).appendTo('body').remove();
                    }
                });
            });
        });
    </script>
</div>

