@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Helper.DataOperation
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    CourseContract _model;
    UserProfile _profile;

    CourseContractViewModel _viewModel = ViewBag.ViewModel as CourseContractViewModel;

    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _model = (CourseContract)this.Model;
    _profile = await Context.GetUserAsync();

    LessonPriceType originalPrice;
    if (_model.ContractType == (int)CourseContractType.ContractTypeDefinition.CGA)
    {
        originalPrice = _model.RegisterLessonContract.Select(c => c.RegisterLesson)
                    .Select(r => r.LessonPriceType)
                    .Where(l => !l.IsDietaryConsult).FirstOrDefault();
    }
    else
    {
        originalPrice = _model.ContractOriginalSeriesPrice(models);
    }

}
@{
    var totalPaid = _model.TotalPaidAmount();
    var attendedCount = _model.AttendedLessonCount();
    int processingFee = 0;
}
@if (totalPaid == 0)
{
    <div class="alert xl-pink col-darkteal" role="alert">
        <div class="container">
            <div class="alert-icon">
                <i class="zmdi zmdi-notifications"></i>
            </div>
            應退餘額 0元：合約簽訂後未繳納費用 @(String.Format("{0:##,###,###,###}", _model.TotalCost)) 元
        </div>
            <div class="container">
                <div class="alert-icon">
                    <i class="zmdi zmdi-notifications"></i>
                </div>
                手續費 0元：免手續費
            </div>
            <div class="container col-pink">
                <div class="alert-icon">
                    <i class="zmdi zmdi-alert-triangle"></i>
                </div>
                實際退還剩餘款項： 0元
            </div>
        </div>    
    <script>
        $(function() {
            $('input[name="SettlementPrice"]').val('@Html.Raw(originalPrice?.ListPrice ?? _model.LessonPriceType.ListPrice)')
                .parent().parent()
                .css('display', 'none');
        });
    </script>
}
else if (attendedCount > 0)
{
    var remained = _model.CalculateReturnAmount(totalPaid, out processingFee);
    if (_viewModel.CauseForEnding == Naming.CauseForEnding.合約到期轉新約
        || _viewModel.CauseForEnding == Naming.CauseForEnding.轉讓第三人
        || _viewModel.CauseForEnding == Naming.CauseForEnding.不宜運動
        || _viewModel.CauseForEnding == Naming.CauseForEnding.更改合約類型
        || _model.CourseContractAction.Any(a => a.ActionID == (int)CourseContractAction.ActionType.免收手續費))
    {
        processingFee = 0;
    }

    <div class="alert xl-pink col-darkteal" role="alert">
        <div class="container">
            <div class="alert-icon">
                <i class="zmdi zmdi-notifications"></i>
            </div>
            應退餘額 @($"{remained:##,###,###,###}")元：按未完成服務堂數（@(_model.RemainedLessonCount())堂）占合約總價額比例退還餘額
        </div>
        @if (processingFee > 0)
        {
            <div class="container">
                <div class="alert-icon">
                    <i class="zmdi zmdi-notifications"></i>
                </div>
                手續費 @($"{processingFee:##,###,###,###}")元：應退餘額20%計算
            </div>
        }
        else 
        {
            if ((_viewModel.CauseForEnding == Naming.CauseForEnding.合約到期轉新約
                    || _viewModel.CauseForEnding == Naming.CauseForEnding.轉讓第三人
                    || _viewModel.CauseForEnding == Naming.CauseForEnding.更改合約類型)
                && !_model.CourseContractAction.Any(a => a.ActionID == (int)CourseContractAction.ActionType.免收手續費))
            {                
                <div class="container col-pink">
                    <div class="alert-icon">
                        <i class="zmdi zmdi-alert-triangle"></i>
                    </div>
                    手續費 300元：額外付款（現金）
                </div>
            }
            else
            {
                <div class="container">
                    <div class="alert-icon">
                        <i class="zmdi zmdi-notifications"></i>
                    </div>
                    手續費 0元：減免手續費
                </div>
            }
        }
        @{
            
        }
        <div class="container col-pink">
            <div class="alert-icon">
                <i class="zmdi zmdi-alert-triangle"></i>
            </div>
            實際退還剩餘款項： @($"{remained - processingFee:##,###,###,###}") 元
        </div>        
    </div>
}
else if ((DateTime.Today - _model.ValidFrom.Value).TotalDays < 8)
{
    <div class="alert xl-pink col-darkteal" role="alert">
        <div class="container">
            <div class="alert-icon">
                <i class="zmdi zmdi-notifications"></i>
            </div>
            應退餘額 @(String.Format("{0:##,###,###,###}", totalPaid))元：按未完成服務堂數（@(_model.RemainedLessonCount())堂)
        </div>
        <div class="container">
                <div class="alert-icon">
                    <i class="zmdi zmdi-notifications"></i>
                </div>
                手續費 0元：簽約後7日內未使用免手續費
        </div>        
        <div class="container col-pink">
            <div class="alert-icon">
                <i class="zmdi zmdi-alert-triangle"></i>
            </div>
            實際退還剩餘款項： @(String.Format("{0:##,###,###,###}", totalPaid)) 元
        </div>        
    </div>

    <script>
        $(function() {
            $('input[name="SettlementPrice"]').val('@Html.Raw(_model.LessonPriceType.ListPrice)')
                .parent().parent()
                .css('display', 'none');
        });
    </script>
}
else
{
    if (_viewModel.CauseForEnding == Naming.CauseForEnding.不宜運動
        || _model.CourseContractAction.Any(a => a.ActionID == (int)CourseContractAction.ActionType.免收手續費))
    {
        processingFee = 0;
        <div class="alert xl-pink col-darkteal" role="alert">
            <div class="container">
                <div class="alert-icon">
                    <i class="zmdi zmdi-notifications"></i>
                </div>
                應退餘額 @(String.Format("{0:##,###,###,###}", totalPaid))元：按未完成服務堂數（@(_model.RemainedLessonCount())堂)
            </div>
            <div class="container">
                    <div class="alert-icon">
                        <i class="zmdi zmdi-notifications"></i>
                    </div>
                    手續費 0元：減免手續費
            </div>        
            <div class="container col-pink">
                <div class="alert-icon">
                    <i class="zmdi zmdi-alert-triangle"></i>
                </div>
                實際退還剩餘款項： @(String.Format("{0:##,###,###,###}", totalPaid - processingFee)) 元
            </div>        
        </div>
    }
    else if (_viewModel.CauseForEnding == Naming.CauseForEnding.合約到期轉新約
            || _viewModel.CauseForEnding == Naming.CauseForEnding.轉讓第三人
            || _viewModel.CauseForEnding == Naming.CauseForEnding.更改合約類型)
    {
        processingFee = 0;  // 300不在這裡收，是另外收
        <div class="alert xl-pink col-darkteal" role="alert">
            <div class="container">
                <div class="alert-icon">
                    <i class="zmdi zmdi-notifications"></i>
                </div>
                應退餘額 @(String.Format("{0:##,###,###,###}", totalPaid))元：按未完成服務堂數（@(_model.RemainedLessonCount())堂)
            </div>
            <div class="container">
                    <div class="alert-icon">
                        <i class="zmdi zmdi-notifications"></i>
                    </div>
                    手續費 @(String.Format("{0:##,###,###,###}", 300))元：額外付款
            </div>        
            <div class="container col-pink">
                <div class="alert-icon">
                    <i class="zmdi zmdi-alert-triangle"></i>
                </div>
                實際退還剩餘款項： @(String.Format("{0:##,###,###,###}", totalPaid)) 元
            </div>        
        </div>
    } 
    else 
    {
        processingFee = Math.Min(totalPaid * 5 / 100, 9000);

        <div class="alert xl-pink col-darkteal" role="alert">
            <div class="container">
                <div class="alert-icon">
                    <i class="zmdi zmdi-notifications"></i>
                </div>
                應退餘額 @(String.Format("{0:##,###,###,###}", totalPaid))元：按未完成服務堂數（@(_model.RemainedLessonCount())堂)
            </div>
            <div class="container">
                    <div class="alert-icon">
                        <i class="zmdi zmdi-notifications"></i>
                    </div>
                    手續費 @(String.Format("{0:##,###,###,###}", processingFee))元：應退餘額5%計算
            </div>        
            <div class="container col-pink">
                <div class="alert-icon">
                    <i class="zmdi zmdi-alert-triangle"></i>
                </div>
                實際退還剩餘款項： @(String.Format("{0:##,###,###,###}", totalPaid - processingFee)) 元
            </div>        
        </div>
    }    
    
    <script>
        $(function() {
            $('input[name="SettlementPrice"]').val('@Html.Raw(_model.LessonPriceType.ListPrice)')
                .parent().parent()
                .css('display', 'none');
        });
    </script>
}
<input type="hidden" name="ProcessingFee" value="@((int)processingFee)" />

