

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json
@using WebHome.Views.MainActivity.Resources

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;

}
<!DOCTYPE html>
<html lang="@(ViewBag.Lang ?? "zh-TW")">
<head>
    <!-- Google Tag Manager -->
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        //gtag('config', 'GTM-T5GQNTV');
        gtag('config', '@WebHome.Properties.Settings.Default.GA_ID_Frontend');

        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T5GQNTV');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta name="description" content="Beyond Fitness | 專業與科學化的私人教練" />
    <meta HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE" />
    <meta name="facebook-domain-verification" content="cb5tm38nnyzmpxesv7fscpdctpj2fa" />
    <title>Beyond Fitness | 專業與科學化的私人教練</title>
    <!-- Favicon-->
    <link rel="icon" href="favicons/favicon_96x96.png" />
    <!-- Specifying a Webpage Icon for Web Clip -->
    <link rel="apple-touch-icon-precomposed" href="favicons/favicon_57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicons/favicon_72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicons/favicon_114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicons/favicon_144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="favicons/favicon_180x180.png" />
    <!-- IE可能不見得有效 -->
    <meta HTTP-EQUIV="EXPIRES" CONTENT="0" />
    <!-- 設定成馬上就過期 -->
    <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE" />
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    <!-- Font Awesome CSS -->
    <link href="fonts/fontawesome-v5.3.1/css/all.css" rel="stylesheet" />
    <link href="fonts/fontawesome-v5.3.1/css/v4-shims.css" rel="stylesheet" />
    <!-- CSS reset -->
    <link rel="stylesheet" href="css/normalize.css" type="text/css" />
    <!-- Font Icon -->
    <link rel="stylesheet" href="css/material-font.min.css" type="text/css" />
    <!-- Animate -->
    <link rel="stylesheet" href="css/animate.css" type="text/css" />
    <!-- Slick -->
    <link href="plugins/slick/slick.css" rel="stylesheet" type="text/css" />
    <link href="plugins/slick/slick-theme.css?1.1" rel="stylesheet" type="text/css" />
    <!-- Magnific Popup -->
    <link href="plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
    <!-- Magnific Popup -->
    <link href="css/main-landing.css?1.6" type="text/css" rel="stylesheet" />

    @RenderSection("CustomHeader", false)

    <script src="bundles/libscripts.bundle.js"></script>
    <script src="bundles/vendorscripts.bundle.js"></script>
    <!-- Slick carousel javascript -->
    <script src="plugins/slick/slick.min.js"></script>
    <!-- Magnific Popup -->
    <script src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- WOW Plugin -->
    <script src="js/wow.js"></script>
    <!-- Main Script -->
    <script src="js/main-landing.js?1.5"></script>
    <script src="js/common.js?1.6"></script>
    <!-- Facebook Pixel Code -->
    <script>
        (function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        })(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '139380543390363');
        fbq('track', 'PageView');</script>
    <script type="application/javascript">(function(w,d,t,r,u){w[u]=w[u]||[];w[u].push({'projectId':'10000','properties':{'pixelId':'10056180'}});var s=d.createElement(t);s.src=r;s.async=true;s.onload=s.onreadystatechange=function(){var y,rs=this.readyState,c=w[u];if(rs&&rs!="complete"&&rs!="loaded"){return}try{y=YAHOO.ywa.I13N.fireBeacon;w[u]=[];w[u].push=function(p){y([p])};y(c)}catch(e){}};var scr=d.getElementsByTagName(t)[0],par=scr.parentNode;par.insertBefore(s,scr)})(window,document,"script","https://s.yimg.com/wi/ytc.js","dotq");</script>
    <!-- End Facebook Pixel Code -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=139380543390363&ev=PageView&noscript=1" />
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5GQNTV"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- //Main Nav -->
    <header id="main-nav">
        <div class="container">
            <a id="navigation" href="javascript:void(0);" class="hidden-md-up"><i class="zmdi zmdi-apps"></i></a>
            <div id="slide_out_menu">
                <a href="javascript:void(0);" class="menu-close"><i class="zmdi zmdi-close"></i></a>
                <div class="logo"><a href="javascript:bindTrackingCode('首頁', null, '@(VirtualPathUtility.ToAbsolute("~/Official/Index"))', null)"><img src="images/logo.png" alt="BeyondFitness"></a></div>
                <ul>
                    @{ Html.RenderPartial("~/Views/MainActivity/Module/MobileMenuItem.cshtml");}

                </ul>
                <div class="slide_out_menu_footer">
                    <ul class="socials">
                        <li><a href="javascript:bindTrackingCode('Facebook', null, 'https://www.facebook.com/beyond.fitness.pro/', '_blank')"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a href="javascript:bindTrackingCode('Instagram', null, 'https://www.instagram.com/beyond_ft/', '_blank')"><i class="zmdi zmdi-instagram"></i></a></li>
                        <li><a href="javascript:bindTrackingCode('Youtube', null, 'https://www.youtube.com/channel/UCPIcjPGaFFB1o8cFDUrT-4g', '_blank')"><i class="zmdi zmdi-youtube-play"></i></a></li>
                        <li><a href="javascript:bindTrackingCode('Line', null, '@("line://ti/p/@itj9410x")', '_blank')"><i class="fab fa-line"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12 text-center">
                    <a href="javascript:bindTrackingCode('首頁', null, '@(VirtualPathUtility.ToAbsolute("~/Official/Index"))')" class="logo"><img src="images/logo.png" alt="BeyondFitness"></a>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <ul class="left nav-active">
                        @{ Html.RenderPartial("~/Views/MainActivity/Module/MenuItem.cshtml");}
                    </ul>
                    <script>
                        var reloadPage;
                        function changeLanguage(lang) {
                            $.post('@(Url.Action("ChangeLanguate", "MainActivity"))', { 'lang': lang }, function (data) {
                                if ($.isPlainObject(data)) {
                                    if (data.result) {
                                        if (reloadPage) {
                                            reloadPage();
                                        } else {
                                            window.location.reload();
                                        }
                                    }
                                } else {
                                    $(data).appendTo($('body'));
                                }
                            });
                        }
                    </script>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    @RenderBody()
    @RenderSection("TailPageJavaScriptInclude", false)
    <!-- // Footer -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                </div>
            </div>
        </div>
    </footer>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    @*<script async src="https://www.googletagmanager.com/gtm.js?id=GTM-T5GQNTV"></script>*@
    <script async src="https://www.googletagmanager.com/gtag/js?id=@(WebHome.Properties.Settings.Default.GA_ID_Frontend)"></script>
    <script type="text/javascript">

        this.bindTrackingCode = function (gaEventName, fbEventName, linkURL, linkType) {
            if (gaEventName && typeof gaEventName != "undefined") {
                gtag("event", gaEventName, { event_category: "連結點擊", event_label: "官方網站" });
            }

            if (fbEventName && typeof fbEventName != "undefined") {
                fbq('track', fbEventName);
            }

            if (linkURL && typeof linkURL != "undefined") {
                if (linkType && linkType == '_blank') {
                    window.open(linkURL);
                } else {
                    window.location.href = linkURL;
                }
            }
        }
    </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5GQNTV"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
</body>
</html>
