
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Helper.DataOperation
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    CourseContract _model;
    UserProfile _profile;
    String _viewID;



    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _model = (CourseContract)this.Model;
    _profile = Context.GetUser();
    _viewID = ViewBag.ViewID as String;
}
<div class="header">
    <h2><strong>轉讓資料</strong></h2>
</div>
<div class="body">
    <div class="row clearfix">
        <div class="col-sm-6">
            <label class="fancy-checkbox custom-bgcolor-pink">
                <input id="checkbox14" type="checkbox" name="FitnessConsultant" value="@(_model.FitnessConsultant)" checked="checked" onclick="this.checked = true;" />
                <span class="col-red">轉讓剩餘@(_model.RemainedLessonCount())</span>
            </label>
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                @{ ViewBag.SearchAction = Url.Action("SearchContractOwner", "ContractConsole");
                    Html.RenderPartial("~/Views/ConsoleEvent/Module/SearchLearner.cshtml");}

                <input type="hidden" name="UID" />
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <textarea rows="3" class="form-control no-resize" name="Remark" placeholder="請輸入任何想補充的事項..."></textarea>
            </div>
        </div>
    </div>
</div>

<script>

    $(function () {

        $('#@(_viewID) button.quit').on('click', function (event) {
            cancelTransferring();
        });

        $('#@(_viewID) button.finish').on('click', function (event) {
            commitTransferring();
        });

    });

    function cancelTransferring() {
        $('').launchDownload('@Html.Raw(Url.Action("ApplyContractService","ConsoleHome"))',
            @Html.Raw(JsonConvert.SerializeObject(new CourseContractQueryViewModel
                {
                    KeyID = _model.ContractID.EncryptKey(),
                })));
    }

    function commitTransferring() {
        var viewModel = $('#@(_viewID)').find('input,select,textArea').serializeObject();
        viewModel.Reason = '轉讓';
        viewModel.FitnessConsultant = @(_profile.UID);
        clearErrors();
        showLoading();
        $.post('@Html.Raw(Url.Action("CommitContractService", "ContractConsole",new { KeyID = _model.ContractID.EncryptKey() }))', viewModel, function (data) {
            hideLoading();
            if ($.isPlainObject(data)) {
                swal(data.message);
            }
            else {
                $(data).appendTo($('body'));
            }
        });
    }
    //
</script>

