@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@{
    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
}
<ul class="header-dropdown">
    <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-shopping-cart-plus"></i> </a>
        <ul class="dropdown-menu dropdown-menu-right slideUp float-right">
            <li><a href="@Html.Raw(Url.Action("EditPaymentForSession","ConsoleHome"))">收款 - T.S/P.I/P.T</a></li>
            <li><a href="@Html.Raw(Url.Action("EditPaymentForShopping","ConsoleHome"))">收款 - 食飲品</a></li>
            <li><a href="@Html.Raw(Url.Action("EditPaymentForShopping","ConsoleHome",new { TransactionType = (int)Naming.PaymentTransactionType.運動商品}))">收款 - 運動商品</a></li>
            <li><a href="@Html.Raw(Url.Action("EditPaymentForShopping","ConsoleHome",new { TransactionType = (int)Naming.PaymentTransactionType.各項費用}))">收款 - 各項費用</a></li>
            <li><a href="@Html.Raw(Url.Action("EditPaymentForTerminationCharge","ConsoleHome",new { TransactionType = (int)Naming.PaymentTransactionType.終止手續費}))">收款 - 終止手續費</a></li>
        </ul>
    </li>
</ul>

