@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using Newtonsoft.Json
@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;
    UserProfile _model;
    DailyBookingQueryViewModel _viewModel;


    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;
    _model = (UserProfile)this.Model;
    _viewModel = (DailyBookingQueryViewModel)ViewBag.ViewModel;
    UserProfile _learner = (UserProfile)ViewBag.DataItem;
}
<!--本月運動時間-->
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-12">
            <div class="card profile-header bg-darkteal">
                <div class="body">
                    <div class="profile-image inlineblock">
                        <a href="javascript:editLearner();">
                            @{
                                ViewBag.ProfileClass = "small";
                                await Html.RenderPartialAsync("~/Views/Common/ProfileImage.cshtml", _learner);
                            }
                        </a>
                    </div>
                    <div class="float-right" onclick="javascript:editProfile();">
                        @{
                            var purpose = _learner.PersonalExercisePurpose;
                        }
                        @if (purpose != null && (purpose.Cardiopulmonary.HasValue || purpose.Flexibility.HasValue || purpose.MuscleStrength.HasValue))
                        {
                            await Html.RenderPartialAsync("~/Views/LearnerProfile/Module/PersonalExerciseRadarChart.cshtml", purpose);
                        }
                        else
                        {
                            <div class="pie">
                                <div class="pie_light small">
                                    Opps!<br /><span>你很不了解這位學生喔！</span>
                                </div>
                            </div>
                        }
                        @if (purpose != null)
                        {
                            <h6 class="@(purpose.PowerAbliityCss("text-center"))">@(purpose.PowerAbility != null ? purpose.PowerAbility.Substring(0, 3) : "？型") / @(purpose.Purpose ?? "？")期</h6>
                        }
                        else
                        {
                            <h6 class="col-pink text-center">？型 / ？期</h6>
                        }
                    </div>
                    <div class="col-white inlineblock">
                        <strong>@(_learner.FullName())</strong> <span class="font-12"><i class="zmdi zmdi-cake"></i> @(_learner.YearsOld())</span>
                    </div>
                    <div class="font-20">
                        @{
                            await Html.RenderPartialAsync("~/Views/LearnerProfile/Module/ExerciseSummary2020.cshtml", _learner);
                        }
                    </div>
                    <div class="displayblock col-grey">
                        @{
                            var answers = models.GetTable<PDQTask>()
                                            .Where(t => t.UID == _learner.UID)
                                            .Where(t => t.PDQQuestion.GroupID == 6);
                            var answerCount = answers.Count();
                            var rightAns = answers.Where(t => t.SuggestionID.HasValue && t.PDQSuggestion.RightAnswer == true);
                        }
                        @if (answerCount > 0)
                        {
                            var accuracy = rightAns.Count() * 100 / answerCount;
                            <text>
                                已參加運動小學堂 @(answerCount) 次囉，@{ AppraiseAccuracy(accuracy); }<a href="javascript:showBonusDetails();" class="col-tiffany font-underline">目前已累積 @(_learner.BonusPoint(models) ?? 0)枚 Beyond💰</a>！
                            </text>
                        }
                        else
                        {
                            <text>答題正確率已達 <span class="f-green">0%</span>，就讀運動幼幼班，再接再厲！</text>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    void AppraiseAccuracy(int accuracy)
    {
        if (accuracy > 80)
        {
            <text>答題正確率已達 <span class="f-green">@(accuracy)%</span>，博士等級，非常厲害！維持下去喔！</text>
        }
        else if (accuracy > 60)
        {
            <text>答題正確率已達 <span class="f-green">@(accuracy)%</span>，大學等級，離成功不遠囉！</text>
        }
        else if (accuracy > 40)
        {
            <text>答題正確率已達 <span class="f-green">@(accuracy)%</span>，國高中等級，越來越上手喔！</text>
        }
        else if (accuracy > 20)
        {
            <text>答題正確率已達 <span class="f-green">@(accuracy)%</span>，國小等級，越來越進步囉！</text>
        }
        else
        {
            <text>答題正確率已達 <span class="f-green">@(accuracy)%</span>，就讀運動幼幼班，再接再厲！</text>
        }
    }
}

