

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;
    UserProfile _model;
    InvoiceQueryViewModel _viewModel;

    Layout = "~/Views/ConsoleHome/Template/MainPage.cshtml";

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _modelState = ViewContext.ModelState;
    _model = (UserProfile)this.Model;
    _viewModel = (InvoiceQueryViewModel)ViewBag.ViewModel;

}
@{
    IQueryable<InvoiceTrackCode> _items = (IQueryable<InvoiceTrackCode>)ViewBag.DataItems;
    InvoiceTrackCode _item = _items.FirstOrDefault();
}
@section CustomHeader {
    <!-- JQuery DataTable Css -->
    <link href="plugins/jquery-datatable/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="plugins/jquery-datatable/Responsive-2.2.2/css/responsive.bootstrap4.min.css" rel="stylesheet">
    <link href="plugins/jquery-datatable/FixedColumns-3.2.5/css/fixedColumns.bootstrap4.min.css" rel="stylesheet">
    <!-- Bootstrap Datetimepick -->
    <link href="css/smartcalendar-2.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link rel="stylesheet" href="css/customelist.css?1.1" />
    <!-- charts-c3 -->
    <link href="plugins/charts-c3/plugin.css?2.0" rel="stylesheet">
}

<!-- Main Content -->
<section class="content">
    @{
        ViewBag.BlockHeader = "編輯字軌號碼";
        ViewBag.InsertPartial = "~/Views/ConsoleHome/Shared/MyInvoiceHeader.cshtml";
        await Html.RenderPartialAsync("~/Views/ConsoleHome/Module/BlockHeader.cshtml", _model);
    }
    <!--發票基本資料-->
    <div class="container-fluid">
        <div class="card">
            <ul class="row clearfix list-unstyled m-b-0 widget_2">
                <li class="col-lg-7 col-md-7 col-sm-12">
                    <div class="header">
                        <h2><strong>發票基本資料</strong></h2>
                    </div>
                     <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 m-b-20">
                                <select class="form-control show-tick" name="Year" @(_viewModel.DateFrom.HasValue ? " disabled" : "")>
                                    <option value="">-- 請選擇發票年度 --</option>
                                    @if (DateTime.Today.Month >= 11)
                                    {
                                        <option value="@(DateTime.Today.Year+1)">@(DateTime.Today.Year + 1)</option>
                                    }
                                    @for (int year = DateTime.Today.Year; year >= 2017; year--)
                                    {
                                        <option value="@(year)">@(year)</option>
                                    }
                                </select>
                                <script>
                                    $(function () {
                                        $('select[name="Year"]').val('@(_viewModel.DateFrom?.Year)');
                                    });
                                </script>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 m-b-20">
                                <select class="form-control show-tick" name="PeriodNo" @(_viewModel.TrackPeriodNo.HasValue ? " disabled" : "")>
                                    <option value="">-- 請選擇期別 --</option>
                                    <option value="1">01~02</option>
                                    <option value="2">03~04</option>
                                    <option value="3">05~06</option>
                                    <option value="4">07~08</option>
                                    <option value="5">09~10</option>
                                    <option value="6">11~12</option>
                                </select>
                                <script>
                                    $(function () {
                                        $('select[name="PeriodNo"]').val('@(_viewModel.TrackPeriodNo)');
                                    });
                                </script>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-6 col-12 m-b-20">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-danger" placeholder="請輸入字軌" name="TrackCode" value="@(_item?.TrackCode)" />
                                    <span class="input-group-addon">
                                        <i class="zmdi zmdi-text-format"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-12 m-b-20">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-danger" placeholder="請輸入起號" name="StartNo" value="@($"{_item?.StartNo:00000000}")">
                                    <span class="input-group-addon">
                                        <i class="zmdi zmdi-collection-item-9"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-12 m-b-20">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-danger" placeholder="請輸入迄號" name="EndNo" value="@($"{_item?.EndNo:00000000}")">
                                    <span class="input-group-addon">
                                        <i class="zmdi zmdi-collection-item-9"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-lg-5 col-md-5 col-sm-12">
                    <div class="header">
                        <h2><strong>本數分配</strong></h2>
                    </div>
                    <div class="body">
                        @foreach (var branch in models.GetTable<BranchStore>())
                        {
                            InvoiceNoInterval item = null;
                            if (_item != null)
                            {
                                item = models.GetTable<InvoiceNoInterval>()
                                    .Where(i => i.TrackID == _item.TrackID)
                                    .Where(i => i.SellerID == branch.BranchID).FirstOrDefault();
                            }
                            <div class="row">
                                <div class="col-sm-12">
                                    <input name="BookletBranchID" type="hidden" value="@(branch.BranchID)" />
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            @(branch.BranchName)
                                        </span>
                                        <input name="@($"BranchID_{branch.BranchID}")" type="hidden" />
                                        <input type="text" class="form-control" placeholder="請輸入本數" name="BookletCount" value="@((item?.EndNo-item?.StartNo+1)/50)" />
                                        <span class="input-group-addon">
                                            <i class="zmdi zmdi-collection-item-1"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }                        
                    </div>
                </li>
            </ul>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-primary btn-round waves-effect float-right finish" onclick="commitInvoiceTrackNo();">確定，不後悔</button>
                    <button type="button" class="btn btn-danger btn-round btn-simple waves-effect quit" onclick="window.location.reload();">不, 重新輸入</button>
                </div>
            </div>
        </div>
    </div>
    <script>

        function commitInvoiceTrackNo() {

            var $formData = $('input,select,textarea').serializeObject();
            clearErrors();
            showLoading();
            $.post('@Html.Raw(Url.Action("CommitInvoiceTrackNoInterval","BusinessConsole",new { KeyID = _item?.TrackID.EncryptKey() }))', $formData, function (data) {
                hideLoading();
                if ($.isPlainObject(data)) {
                    if (data.result) {
                        Swal.fire(
                            '幹得好',
                            '設定完成',
                            'success'
                        )
                        @*$('').launchDownload('@Html.Raw(Url.Action("InvoiceOverview", "ConsoleHome",new { _viewModel.DateFrom}))', { });*@
                    } else {
                        Swal.fire(
                            'Oops...',
                            data.message,
                            'warning'
                        )
                    }
                } else {
                    $(data).appendTo('body').remove();
                }
            });
        }

        $(function () {
            equipDatetimePicker();
        });
    </script>
</section>


@section TailPageJavaScriptInclude {
    <!--Sparkline Plugin Js-->
    <script src="plugins/jquery-sparkline/jquery.sparkline.js"></script>
    <!-- SweetAlert Plugin Js -->
    <script src="plugins/sweetalert/sweetalert.min.js"></script>
    <!-- Jquery DataTable Plugin Js -->
    <script src="bundles/datatablescripts.bundle.js"></script>
    <script src="plugins/jquery-datatable/Responsive-2.2.2/js/dataTables.responsive.min.js"></script>
    <script src="plugins/jquery-datatable/FixedColumns-3.2.5/js/dataTables.fixedColumns.min.js"></script>
    <!--Gauge Plugin Js-->
    <script src="plugins/gauge/gauge.min.js"></script>
    <!-- ChartC3 Js -->
    <script src="bundles/cs.bundles.js"></script>

    @{ await Html.RenderPartialAsync("~/Views/ConsoleHome/Shared/KnobJS.cshtml");}

    <script>


    </script>

}


